<!DOCTYPE html>
<html lang="zxx">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<title>Alchemists Ice Hockey Club &amp; News HTML Template - Login and Register</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Sports Club, League and News HTML Template">
	<meta name="author" content="Dan Fisher">
	<meta name="keywords" content="sports club news HTML template">

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="assets/images/hockey/favicons/favicon.ico">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/images/hockey/favicons/favicon-120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/images/hockey/favicons/favicon-152.png">

	<!-- fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

	<!-- Google Web Fonts
	================================================== -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display&#x3D;swap" rel="stylesheet">

	<!-- CSS
	================================================== -->
	<!-- Vendor CSS -->
	<link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="assets/fonts/font-awesome/css/all.min.css" rel="stylesheet">
	<link href="assets/fonts/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
	<link href="assets/vendor/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
	<link href="assets/vendor/slick/slick.css" rel="stylesheet">
	<link href="assets/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">

	<!-- Template CSS-->
	<link href="assets/css/style-hockey.css" rel="stylesheet">

	<!-- Custom CSS-->
	<link href="assets/css/custom.css" rel="stylesheet">

</head>
<body data-template="template-hockey">
	<div class="site-wrapper clearfix">
		<div class="site-overlay"></div>

		<div class="alc-events-scoreboard">
			<div class="alc-events-scoreboard__filter">
				<h4>실시간 Live <span class="alc-events-scoreboard__info-live"></span></h4>
			</div>
			<div class="alc-events-scoreboard__nav alc-events-scoreboard__nav--skewed">
				<div class="alc-events-scoreboard__button-prev swiper-button-prev swiper-button--fa"></div>
				<div class="alc-events-scoreboard__button-next swiper-button-next swiper-button--fa"></div>
			</div>
			<div class="alc-events-scoreboard__body">
		
				<div class="alc-events-scoreboard__slider js-alc-events-scoreboard-slider swiper">
					<div class="swiper-wrapper">
		
						<div class="swiper-slide">
							<div class="alc-events-scoreboard__item">
								<div class="alc-events-scoreboard__teams">
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/alchemists-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name ">ALC</h6>
											<div class="alc-events-scoreboard__team-details">(32 - 14)</div>
										</div>
									</div>
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/ocean-kings-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name ">OCK</h6>
											<div class="alc-events-scoreboard__team-details">(26 - 6)</div>
										</div>
									</div>
								</div>
								<div class="alc-events-scoreboard__score">
									<div class="alc-events-scoreboard__score-item ">
										3
									</div>
									<div class="alc-events-scoreboard__score-item ">
										1
									</div>
								</div>
								<div class="alc-events-scoreboard__info">
									<div class="alc-events-scoreboard__info-date">
										<span class="alc-events-scoreboard__info-live">Live</span>
									</div>
									<div class="alc-events-scoreboard__info-status">
										<span class="alc-events-scoreboard__info-status-period">2ND</span>
										<span class="alc-events-scoreboard__info-status-time">06:22</span>
									</div>
								</div>
								<div class="alc-events-scoreboard__links alc-events-scoreboard__links--skewed">
									<a href="_hockey_event-team-stats.html" class="alc-events-scoreboard__link">
										<i class="alc-icon alc-icon--chart alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Stats</span>
									</a>
									<a href="_hockey_event-news-recap.html" class="alc-events-scoreboard__link">
										<i class="fas fa-play fa-xs alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Recap</span>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="alc-events-scoreboard__item">
								<div class="alc-events-scoreboard__teams">
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/sharks-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name ">SRK</h6>
											<div class="alc-events-scoreboard__team-details">(22 - 36 - 4)</div>
										</div>
									</div>
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/alchemists-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name alc-events-scoreboard__team-name--highlight">ALC</h6>
											<div class="alc-events-scoreboard__team-details">(32 - 27 - 8)</div>
										</div>
									</div>
								</div>
								<div class="alc-events-scoreboard__score">
									<div class="alc-events-scoreboard__score-item ">
										2
									</div>
									<div class="alc-events-scoreboard__score-item alc-events-scoreboard__score-item--highlight">
										4
									</div>
								</div>
								<div class="alc-events-scoreboard__info">
									<div class="alc-events-scoreboard__info-date">
										MAR 8TH, 9:00PM
									</div>
									<div class="alc-events-scoreboard__info-status">
										<span class="alc-events-scoreboard__info-status-final">Final</span>
									</div>
								</div>
								<div class="alc-events-scoreboard__links alc-events-scoreboard__links--skewed">
									<a href="_hockey_event-team-stats.html" class="alc-events-scoreboard__link">
										<i class="alc-icon alc-icon--chart alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Stats</span>
									</a>
									<a href="_hockey_event-news-recap.html" class="alc-events-scoreboard__link">
										<i class="fas fa-play fa-xs alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Recap</span>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="alc-events-scoreboard__item">
								<div class="alc-events-scoreboard__teams">
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/alchemists-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name ">ALC</h6>
											<div class="alc-events-scoreboard__team-details">(24 - 30 - 4)</div>
										</div>
									</div>
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/clovers-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name alc-events-scoreboard__team-name--highlight">CLO</h6>
											<div class="alc-events-scoreboard__team-details">(41 - 34 - 9)</div>
										</div>
									</div>
								</div>
								<div class="alc-events-scoreboard__score">
									<div class="alc-events-scoreboard__score-item alc-events-scoreboard__score-item--highlight">
										5
									</div>
									<div class="alc-events-scoreboard__score-item ">
										7
									</div>
								</div>
								<div class="alc-events-scoreboard__info">
									<div class="alc-events-scoreboard__info-date">
										FEB 26TH, 8:30PM
									</div>
									<div class="alc-events-scoreboard__info-status">
										<span class="alc-events-scoreboard__info-status-final">Final</span>
									</div>
								</div>
								<div class="alc-events-scoreboard__links alc-events-scoreboard__links--skewed">
									<a href="_hockey_event-team-stats.html" class="alc-events-scoreboard__link">
										<i class="alc-icon alc-icon--chart alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Stats</span>
									</a>
									<a href="_hockey_event-news-recap.html" class="alc-events-scoreboard__link">
										<i class="fas fa-play fa-xs alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Recap</span>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="alc-events-scoreboard__item">
								<div class="alc-events-scoreboard__teams">
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/icarus-wings-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name ">ICW</h6>
											<div class="alc-events-scoreboard__team-details">(29 - 31 - 8)</div>
										</div>
									</div>
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/alchemists-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name alc-events-scoreboard__team-name--highlight">ALC</h6>
											<div class="alc-events-scoreboard__team-details">(36 - 30 - 6)</div>
										</div>
									</div>
								</div>
								<div class="alc-events-scoreboard__score">
									<div class="alc-events-scoreboard__score-item ">
										2
									</div>
									<div class="alc-events-scoreboard__score-item alc-events-scoreboard__score-item--highlight">
										4
									</div>
								</div>
								<div class="alc-events-scoreboard__info">
									<div class="alc-events-scoreboard__info-date">
										FEB 19TH, 7:00PM
									</div>
									<div class="alc-events-scoreboard__info-status">
										<span class="alc-events-scoreboard__info-status-final">Final</span>
									</div>
								</div>
								<div class="alc-events-scoreboard__links alc-events-scoreboard__links--skewed">
									<a href="_hockey_event-team-stats.html" class="alc-events-scoreboard__link">
										<i class="alc-icon alc-icon--chart alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Stats</span>
									</a>
									<a href="_hockey_event-news-recap.html" class="alc-events-scoreboard__link">
										<i class="fas fa-play fa-xs alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Recap</span>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="alc-events-scoreboard__item">
								<div class="alc-events-scoreboard__teams">
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/pirates-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name ">LAP</h6>
											<div class="alc-events-scoreboard__team-details">(22 - 36 - 4)</div>
										</div>
									</div>
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/alchemists-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name alc-events-scoreboard__team-name--highlight">ALC</h6>
											<div class="alc-events-scoreboard__team-details">(32 - 27 - 8)</div>
										</div>
									</div>
								</div>
								<div class="alc-events-scoreboard__score">
									<div class="alc-events-scoreboard__score-item ">
										3
									</div>
									<div class="alc-events-scoreboard__score-item alc-events-scoreboard__score-item--highlight">
										5
									</div>
								</div>
								<div class="alc-events-scoreboard__info">
									<div class="alc-events-scoreboard__info-date">
										JAN 10TH, 11:00PM
									</div>
									<div class="alc-events-scoreboard__info-status">
										<span class="alc-events-scoreboard__info-status-final">Final</span>
									</div>
								</div>
								<div class="alc-events-scoreboard__links alc-events-scoreboard__links--skewed">
									<a href="_hockey_event-team-stats.html" class="alc-events-scoreboard__link">
										<i class="alc-icon alc-icon--chart alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Stats</span>
									</a>
									<a href="_hockey_event-news-recap.html" class="alc-events-scoreboard__link">
										<i class="fas fa-play fa-xs alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Recap</span>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="alc-events-scoreboard__item">
								<div class="alc-events-scoreboard__teams">
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/alchemists-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name ">ALC</h6>
											<div class="alc-events-scoreboard__team-details">(24 - 30 - 4)</div>
										</div>
									</div>
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/clovers-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name alc-events-scoreboard__team-name--highlight">CLO</h6>
											<div class="alc-events-scoreboard__team-details">(41 - 34 - 9)</div>
										</div>
									</div>
								</div>
								<div class="alc-events-scoreboard__score">
									<div class="alc-events-scoreboard__score-item alc-events-scoreboard__score-item--highlight">
										5
									</div>
									<div class="alc-events-scoreboard__score-item ">
										7
									</div>
								</div>
								<div class="alc-events-scoreboard__info">
									<div class="alc-events-scoreboard__info-date">
										FEB 26TH, 8:30PM
									</div>
									<div class="alc-events-scoreboard__info-status">
										<span class="alc-events-scoreboard__info-status-final">Final</span>
									</div>
								</div>
								<div class="alc-events-scoreboard__links alc-events-scoreboard__links--skewed">
									<a href="_hockey_event-team-stats.html" class="alc-events-scoreboard__link">
										<i class="alc-icon alc-icon--chart alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Stats</span>
									</a>
									<a href="_hockey_event-news-recap.html" class="alc-events-scoreboard__link">
										<i class="fas fa-play fa-xs alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Recap</span>
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="alc-events-scoreboard__item">
								<div class="alc-events-scoreboard__teams">
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/sharks-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name ">SRK</h6>
											<div class="alc-events-scoreboard__team-details">(22 - 36 - 4)</div>
										</div>
									</div>
									<div class="alc-events-scoreboard__team">
										<figure class="alc-events-scoreboard__team-logo">
											<img src="assets/images/hockey/samples/logos/alchemists-xs.png" alt="">
										</figure>
										<div class="alc-events-scoreboard__team-info">
											<h6 class="alc-events-scoreboard__team-name alc-events-scoreboard__team-name--highlight">ALC</h6>
											<div class="alc-events-scoreboard__team-details">(32 - 27 - 8)</div>
										</div>
									</div>
								</div>
								<div class="alc-events-scoreboard__score">
									<div class="alc-events-scoreboard__score-item ">
										2
									</div>
									<div class="alc-events-scoreboard__score-item alc-events-scoreboard__score-item--highlight">
										4
									</div>
								</div>
								<div class="alc-events-scoreboard__info">
									<div class="alc-events-scoreboard__info-date">
										MAR 8TH, 9:00PM
									</div>
									<div class="alc-events-scoreboard__info-status">
										<span class="alc-events-scoreboard__info-status-final">Final</span>
									</div>
								</div>
								<div class="alc-events-scoreboard__links alc-events-scoreboard__links--skewed">
									<a href="_hockey_event-team-stats.html" class="alc-events-scoreboard__link">
										<i class="alc-icon alc-icon--chart alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Stats</span>
									</a>
									<a href="_hockey_event-news-recap.html" class="alc-events-scoreboard__link">
										<i class="fas fa-play fa-xs alc-events-scoreboard__link-icon"></i>
										<span class="alc-events-scoreboard__link-txt">Recap</span>
									</a>
								</div>
							</div>
						</div>
		
					</div>
				</div>
		
			</div>
		</div>
		<!-- Header
		================================================== -->
		
		<!-- Header Mobile -->
		<div class="header-mobile clearfix" id="header-mobile">
			<div class="header-mobile__logo">
				<a href="baseball-main.html"><img src="assets/images/HomeOfFame.png" srcset="assets/images/HomeOfFame/logo@2x.png 2x" alt="HomeOfFame" class="header-logo__img"></a>
			</div>
			<div class="header-mobile__inner">
				<a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
				<span class="header-mobile__search-icon" id="header-mobile__search-icon"></span>
			</div>
		</div>
		
		<!-- Header Desktop -->
		<header class="header header--layout-5">
		
			<!-- Header Secondary -->
			<div class="header__secondary header__secondary--split-bg">
				<!-- Header Secondary Background -->
				<div class="header__secondary-bg-layer effect-duotone effect-duotone--primary"></div>
				<!-- Header Secondary Background / End -->
		
				<div class="container">
					<!-- Header Search Form -->
					<div class="header-search-form d-block d-lg-none">
						<form action="#" id="mobile-search-form" class="search-form">
							<input type="text" class="form-control header-mobile__search-control" value="" placeholder="Enter your search here...">
							<button type="submit" class="header-mobile__search-submit"><i class="fas fa-search"></i></button>
						</form>
					</div>
					<!-- Header Search Form / End -->
		
					<!-- Social Icons -->
					<ul class="info-block info-block--header info-block--social">
						<li class="info-block__item info-block__item--sm">
							<div class="df-icon df-icon--custom">
								<i class="fab fa-facebook"></i>
							</div>
							<h6 class="info-block__heading">Facebook</h6>
							<a class="info-block__link" href="https://facebook.com/danfisher.dev/">/alchemistsHOCKEY</a>
						</li>
						<li class="info-block__item info-block__item--sm">
							<div class="df-icon df-icon--custom">
								<i class="fab fa-twitter"></i>
							</div>
							<h6 class="info-block__heading">Twitter</h6>
							<a class="info-block__link" href="https://twitter.com/danfisher_dev">/@alchemistsHOCKEY</a>
						</li>
						<li class="info-block__item info-block__item--sm">
							<div class="df-icon df-icon--custom">
								<i class="fab fa-instagram"></i>
							</div>
							<h6 class="info-block__heading">Instagram</h6>
							<a class="info-block__link" href="https://www.instagram.com/dan.fisher.dev/">@alcstHOCKEY</a>
						</li>
					</ul>
					<!-- Social Icons / End -->
		
					<!-- Info Block -->
					<ul class="info-block info-block--header">
						<li class="info-block__item info-block__item--contact-primary">
							<svg role="img" class="df-icon df-icon--tshirt">
								<use xlink:href="assets/images/hockey/icons-hockey.svg#tshirt"/>
							</svg>
							<h6 class="info-block__heading">Join Our Team!</h6>
							<a class="info-block__link" href="mailto:tryouts@alchemists.com">tryouts@alchemists.com</a>
						</li>
						<li class="info-block__item info-block__item--contact-secondary">
							<svg role="img" class="df-icon df-icon--puck">
								<use xlink:href="assets/images/hockey/icons-hockey.svg#puck"/>
							</svg>
							<h6 class="info-block__heading">Contact Us</h6>
							<a class="info-block__link" href="mailto:info@alchemists.com">info@alchemists.com</a>
						</li>
						<li class="info-block__item info-block__item--shopping-cart js-info-block__item--onhover">
							<a href="#" class="info-block__link-wrapper">
								<svg role="img" class="df-icon df-icon--bag">
									<use xlink:href="assets/images/hockey/icons-hockey.svg#bag"/>
								</svg>
								<h6 class="info-block__heading">Your Bag (8 items)</h6>
								<span class="info-block__cart-sum">$256,30</span>
							</a>
		
							<!-- Dropdown Shopping Cart -->
							<ul class="header-cart">
		
								<li class="header-cart__item">
									<figure class="header-cart__product-thumb">
										<a href="_hockey_shop-product.html">
											<img src="assets/images/hockey/samples/product-1-sm.jpg" alt="">
										</a>
									</figure>
									<div class="header-cart__inner header-cart__inner--has-priced-floated">
										<span class="header-cart__product-cat">Helmets</span>
										<h5 class="header-cart__product-name">
											<a href="_hockey_shop-product.html">Gold Hawkeye Helmet</a>
											<span class="header-cart__product-price">$236.00</span>
										</h5>
										<div class="header-cart__product-ratings">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star empty"></i>
										</div>
										<div class="header-cart__product-sum">
											x <span class="header-cart__product-count">4</span>
										</div>
									</div>
								</li>
								<li class="header-cart__item">
									<figure class="header-cart__product-thumb">
										<a href="_hockey_shop-product.html">
											<img src="assets/images/hockey/samples/product-2-sm.jpg" alt="">
										</a>
									</figure>
									<div class="header-cart__inner header-cart__inner--has-priced-floated">
										<span class="header-cart__product-cat">Sneakers</span>
										<h5 class="header-cart__product-name">
											<a href="_hockey_shop-product.html">Atlantic Sneakers</a>
											<span class="header-cart__product-price">$59.00</span>
										</h5>
										<div class="header-cart__product-ratings">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star empty"></i>
										</div>
										<div class="header-cart__product-sum">
											x <span class="header-cart__product-count">1</span>
										</div>
									</div>
								</li>
								<li class="header-cart__item">
									<figure class="header-cart__product-thumb">
										<a href="_hockey_shop-product.html">
											<img src="assets/images/hockey/samples/product-3-sm.jpg" alt="">
										</a>
									</figure>
									<div class="header-cart__inner header-cart__inner--has-priced-floated">
										<span class="header-cart__product-cat">Helmets</span>
										<h5 class="header-cart__product-name">
											<a href="_hockey_shop-product.html">Poisonous Frog Helmet</a>
											<span class="header-cart__product-price">$112.00</span>
										</h5>
										<div class="header-cart__product-ratings">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star empty"></i>
										</div>
										<div class="header-cart__product-sum">
											x <span class="header-cart__product-count">2</span>
										</div>
									</div>
								</li>
								<li class="header-cart__item">
									<figure class="header-cart__product-thumb">
										<a href="_hockey_shop-product.html">
											<img src="assets/images/hockey/samples/product-4-sm.jpg" alt="">
										</a>
									</figure>
									<div class="header-cart__inner header-cart__inner--has-priced-floated">
										<span class="header-cart__product-cat">Hats and Caps</span>
										<h5 class="header-cart__product-name">
											<a href="_hockey_shop-product.html">Carbon Fitted Cap</a>
											<span class="header-cart__product-price">$22.00</span>
										</h5>
										<div class="header-cart__product-ratings">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star empty"></i>
											<i class="fas fa-star empty"></i>
										</div>
										<div class="header-cart__product-sum">
											x <span class="header-cart__product-count">1</span>
										</div>
									</div>
								</li>
		
								<li class="header-cart__item header-cart__item--subtotal header-cart__item--subtotal--border">
									<span class="header-cart__subtotal">Cart Subtotal</span>
									<span class="header-cart__subtotal-sum">$414.00</span>
								</li>
								<li class="header-cart__item header-cart__item--action">
									<a href="_hockey_shop-cart.html" class="btn btn-primary btn-block">Go to Cart</a>
									<a href="_hockey_shop-checkout.html" class="btn btn-warning btn-block">Checkout</a>
								</li>
							</ul>
							<!-- Dropdown Shopping Cart / End -->
		
						</li>
					</ul>
					<!-- Info Block / End -->
				</div>
			</div>
			<!-- Header Secondary / End -->
		
			<!-- Header Primary -->
			<div class="header__primary">
				<div class="container">
					<div class="header__primary-inner">
		
						<!-- Header Logo -->
						<div class="header-logo">
							<a href="_hockey_index.html"><img src="assets/images/hockey/logo.png" srcset="assets/images/hockey/logo@2x.png 2x" alt="Alchemists" class="header-logo__img"></a>
						</div>
						<!-- Header Logo / End -->
		
						<!-- Main Navigation -->
						<nav class="main-nav clearfix">
							<ul class="main-nav__list">
								<li class=""><a href="_hockey_index.html">Home</a>
									<ul class="main-nav__sub">
										<li class=""><a href="_hockey_index.html">Home - version 1</a></li>
										<li class=""><a href="_hockey_index-2.html">Home - version 2</a></li>
									</ul>
								</li>
								<li class=""><a href="#">Features</a>
									<div class="main-nav__megamenu clearfix">
										<ul class="col-lg-4 col-md-3 col-12 main-nav__ul main-nav__ul-2cols">
											<li class="main-nav__title">Features</li>
											<li><a href="_hockey_index.html">Homepage v1</a></li>
											<li><a href="_hockey_features-shortcodes.html">Shortcodes</a></li>
											<li><a href="_hockey_index-2.html">Homepage v2</a></li>
											<li><a href="_hockey_features-typography.html">Typography</a></li>
											<li><a href="_hockey_blog-1.html">News Page v1</a></li>
											<li><a href="_hockey_event-calendar.html">Scores Calendar</a></li>
											<li><a href="_hockey_blog-2.html">News Page v2</a></li>
											<li><a href="_hockey_features-tickets.html">Buy Tickets</a></li>
											<li><a href="_hockey_blog-3.html">News Page v3</a></li>
											<li><a href="_hockey_blog-post-video.html">Video Player</a></li>
											<li><a href="_hockey_staff-single.html">Staff Member</a></li>
											<li><a href="_hockey_page-event.html">Event Page</a></li>
											<li><a href="_hockey_page-sponsors.html">Sponsors</a></li>
											<li><a href="_hockey_page-contacts.html">Contact Page</a></li>
											<li><a href="_hockey_page-faqs.html">FAQs</a></li>
											<li><a href="_hockey_features-search-results.html">Search Results</a></li>
										</ul>
										<ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
											<li class="main-nav__title">Team Pages</li>
											<li class=""><a href="_hockey_team-overview.html">Overview</a></li>
											<li class=""><a href="_hockey_team-roster.html">Roster</a></li>
											<li class=""><a href="_hockey_team-standings.html">Standings</a></li>
											<li class=""><a href="_hockey_team-last-results.html">Latest Results</a></li>
											<li class=""><a href="_hockey_team-schedule.html">Schedule</a></li>
											<li class=""><a href="_hockey_team-gallery.html">Gallery</a></li>
										</ul>
										<ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
											<li class="main-nav__title">Player Pages</li>
											<li class=""><a href="_hockey_player-overview.html">Overview</a></li>
											<li class=""><a href="_hockey_player-stats.html">Career Stats</a></li>
											<li class=""><a href="_hockey_player-gameslog.html">Games Log</a></li>
											<li class=""><a href="_hockey_player-awards.html">Awards</a></li>
											<li class=""><a href="_hockey_player-bio-news.html">Bio and News</a></li>
											<li class=""><a href="_hockey_player-gallery.html">Gallery</a></li>
										</ul>
										<ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
											<li class="main-nav__title">Match Pages</li>
											<li class=""><a href="_hockey_event-overview.html">Overview</a></li>
											<li class=""><a href="_hockey_event-box-score.html">Box Score</a></li>
											<li class=""><a href="_hockey_event-play-by-play.html">Play-by-Play</a></li>
											<li class=""><a href="_hockey_event-team-stats.html">Team Stats</a></li>
											<li class=""><a href="_hockey_event-news-recap.html">News Recap</a></li>
											<li class=""><a href="_hockey_event-videos.html">Videos</a></li>
										</ul>
										<ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
											<li class="main-nav__title">Shop</li>
											<li class=""><a href="_hockey_shop-fullwidth.html">Main Shop</a></li>
											<li class=""><a href="_hockey_shop-sidebar-grid.html">Shop + Sidebar Grid</a></li>
											<li class=""><a href="_hockey_shop-sidebar-list.html">Shop + Sidebar List</a></li>
											<li class=""><a href="_hockey_shop-product.html">Product Page</a></li>
											<li class=""><a href="_hockey_shop-cart.html">Shopping Cart</a></li>
											<li class=""><a href="_hockey_shop-checkout.html">Checkout</a></li>
											<li class=""><a href="_hockey_shop-whishlist.html">Wishlist</a></li>
											<li class=""><a href="_hockey_shop-account.html">Your Account</a></li>
										</ul>
									</div>
								</li>
								<li class=""><a href="_hockey_team-overview.html">Team</a>
									<ul class="main-nav__sub">
										<li><a href="_hockey_team-overview.html">Team</a>
											<ul class="main-nav__sub-2">
												<li class="">
													<a href="_hockey_team-overview.html">Overview</a>
												</li>
												<li class="">
													<a href="_hockey_team-roster.html">Roster</a>
												</li>
												<li class="">
													<a href="_hockey_team-standings.html">Standings</a>
												</li>
												<li class="">
													<a href="_hockey_team-last-results.html">Latest Results</a>
												</li>
												<li class="">
													<a href="_hockey_team-schedule.html">Schedule</a>
												</li>
												<li class="">
													<a href="_hockey_team-gallery.html">Gallery</a>
													<ul class="main-nav__sub-2">
														<li><a href="_hockey_team-gallery-album.html">Single Album</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li><a href="_hockey_player-overview.html">Player</a>
											<ul class="main-nav__sub-2">
												<li class=""><a href="_hockey_player-overview.html">Overview</a></li>
												<li class=""><a href="_hockey_player-stats.html">Career Stats</a></li>
												<li class=""><a href="_hockey_player-gameslog.html">Games Log</a></li>
												<li class=""><a href="_hockey_player-awards.html">Awards</a></li>
												<li class=""><a href="_hockey_player-bio-news.html">Bio and News</a></li>
												<li class=""><a href="_hockey_player-gallery.html">Gallery</a></li>
											</ul>
										</li>
										<li><a href="_hockey_staff-single.html">Staff Member</a></li>
										<li><a href="_hockey_event-overview.html">Event</a>
											<ul class="main-nav__sub-2">
												<li class=""><a href="_hockey_event-overview.html">Overview</a></li>
												<li class=""><a href="_hockey_event-box-score.html">Box Score</a></li>
												<li class=""><a href="_hockey_event-play-by-play.html">Play-by-Play</a></li>
												<li class=""><a href="_hockey_event-team-stats.html">Team Stats</a></li>
												<li class=""><a href="_hockey_event-news-recap.html">News Recap</a></li>
												<li class=""><a href="_hockey_event-videos.html">Videos</a></li>
											</ul>
										</li>
										<li><a href="_hockey_game-overview.html">Game Overview</a></li>
										<li><a href="_hockey_event-tournament.html">Tournament</a></li>
									</ul>
								</li>
								<li class=""><a href="#">News</a>
									<ul class="main-nav__sub">
										<li class=""><a href="_hockey_blog-1.html">News - version 1</a></li>
										<li class=""><a href="_hockey_blog-2.html">News - version 2</a></li>
										<li class=""><a href="_hockey_blog-3.html">News - version 3</a></li>
										<li><a href="#">Post</a>
											<ul class="main-nav__sub-2">
												<li><a href="_hockey_blog-post-1.html">Single Post - version 1</a></li>
												<li><a href="_hockey_blog-post-2.html">Single Post - version 2</a></li>
												<li><a href="_hockey_blog-post-3.html">Single Post - version 3</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class=""><a href="_hockey_forum-main.html">Forum</a>
									<ul class="main-nav__sub">
										<li class=""><a href="_hockey_forum-main.html">Forum - Main</a></li>
										<li class=""><a href="_hockey_forum-topics.html">Forum - Topics</a></li>
										<li class=""><a href="_hockey_forum-topic.html">Forum - Topic</a></li>
									</ul>
								</li>
								<li class="active"><a href="_hockey_shop-grid-fullwidth.html">Shop</a>
									<ul class="main-nav__sub">
										<li class=""><a href="_hockey_shop-grid-sidebar.html">Shop - Grid + Sidebar</a></li>
										<li class=""><a href="_hockey_shop-grid-fullwidth.html">Shop - Grid Fullwidth</a></li>
										<li class=""><a href="_hockey_shop-list-sidebar.html">Shop - List + Sidebar</a></li>
										<li class=""><a href="_hockey_shop-product.html">Single Product</a></li>
										<li class=""><a href="_hockey_shop-cart.html">Shopping Cart</a></li>
										<li class=""><a href="_hockey_shop-checkout.html">Checkout</a></li>
										<li class=""><a href="_hockey_shop-wishlist.html">Wishlist</a></li>
										<li class="active"><a href="_hockey_shop-login.html">Login</a></li>
										<li class=""><a href="_hockey_shop-account.html">Account</a></li>
									</ul>
								</li>
							</ul>
		
							<!-- Account Navigation -->
							<ul class="nav-account">
								<li class="nav-account__item">
									<a href="#">USD</a>
									<ul class="main-nav__sub">
										<li><a href="#">USD</a></li>
										<li><a href="#">EUR</a></li>
										<li><a href="#">GBP</a></li>
									</ul>
								</li>
								<li class="nav-account__item">
									<a href="#">ENG</a>
									<ul class="main-nav__sub">
										<li><a href="#">English</a></li>
										<li><a href="#">Spanish</a></li>
										<li><a href="#">French</a></li>
										<li><a href="#">German</a></li>
									</ul>
								</li>
								<li class="nav-account__item">
									<a href="#">
										<svg role="img" class="df-icon df-icon--helmet">
											<use xlink:href="assets/images/hockey/icons-hockey.svg#helmet"/>
										</svg>
									</a>
									<ul class="main-nav__sub main-nav__sub--account">
										<li class="main-nav__sub-heading">
											<a href="#">
												Hello!
												<img src="assets/images/hockey/samples/header-user-avatar.jpg" alt="" class="main-nav__sub-heading-avatar">
												<span class="highlight">Iron_Hockey_V</span>
											</a>
										</li>
										<li><a href="#">Account Settings</a></li>
										<li><a href="#">Billing Details</a></li>
										<li><a href="#">Shipping Details</a></li>
										<li><a href="#">Order History</a></li>
										<li><a href="#">Logout</a></li>
									</ul>
								</li>
							</ul>
							<!-- Account Navigation / End -->
		
							<!-- Search Toggle -->
							<a href="#" class="search__toggle search__toggle--skewed">
								<svg role="img" class="df-icon df-icon--search">
									<use xlink:href="assets/images/hockey/icons-hockey.svg#search"/>
								</svg>
							</a>
							<!-- Search Toggle / Eng -->
		
						</nav>
						<!-- Main Navigation / End -->
		
		
					</div>
				</div>
			</div>
			<!-- Header Primary / End -->
		
		</header>
		<!-- Header / End -->
		
		<!-- Search Panel -->
		<aside class="search-panel">
			<form action="https://necromancers-wp.dan-fisher.dev/" id="search-panel-form" class="search-panel-form">
				<input type="text" name="s" id="s" class="form-control" placeholder="What are you looking for...?">
			</form>
		</aside>
		<!-- Search Panel / End -->

		<!-- Page Heading
		================================================== -->
		<div class="page-heading page-heading--horizontal page-heading--title-highlight">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-6">
						<div class="page-heading__inner page-heading__inner--highlight">
							<h1 class="page-heading__title">로그인</h1>
						</div>
					</div>
					<div class="col-6">
						<div class="page-heading__inner ml-auto">
							<ol class="page-heading__breadcrumb breadcrumb">
								<li class="breadcrumb-item"><a href="baseball-main.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">로그인</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
		
		
		<!-- Content
		================================================== -->
		<div class="site-content">
			<div class="container">
		
				<div class="row justify-content-center">
		
					<div class="col-lg-6 mx-auto">
		
						<!-- Login -->
						<div class="card">
							<div class="card">
								<div class="card__header">
									<h4>Log In</h4>
								</div>
								<div class="card__header-bg effect-duotone effect-duotone--primary"></div>
							</div>
							<div class="card__content">
		
								<!-- Login Form -->
								<form action="#">
									<div class="form-group form-group--floating-label">
										<input type="email" class="form-control" id="login-email" placeholder="아이디 *">
										<label class="control-label" for="login-email">아이디 *</label>
									</div>
									<div class="form-group form-group--floating-label">
										<input type="password" class="form-control" id="login-password" placeholder="비밀번호 *">
										<label class="control-label" for="login-password">비밀번호 *</label>
									</div>
									<div class="form-group form-group--password-forgot">
										<label class="checkbox checkbox-inline">
											<input type="checkbox" id="login-remember-me" value="is_remember" checked> 로그인 상태 유지
											<span class="checkbox-indicator"></span>
										</label>
										<span class="password-reminder">비밀번호를 잊으셨습니까? <a href="#">찾기</a></span>
									</div>
									<ul class="menu-list">
										<li><a href="baseball-findPassword.html">비밀번호 찾기</a></li>
										<li class="separator">|</li>
										<li><a href="baseball-idFind.html">아이디 찾기</a></li>
										<li class="separator">|</li>
										<li><a href="baseball-registerAgree.html">회원가입</a></li>
									</ul>								
									<div class="form-group form-group--sm">
										<button href="_hockey_shop-account.html" class="btn btn-primary-inverse btn-lg btn-block">로그인</button>
									</div>
									<div class="row">
										<div class="col-md-6">
											<button class="btn btn-facebook btn-icon btn-block"><i class="fab fa-facebook"></i> 페이스북 계정으로 로그인</button>
										</div>
										<div class="col-md-6">
											<button class="btn btn-x btn-icon btn-block" style="background-color: #000000; color: white; border: none;">
												<i class="fa-brands fa-x-twitter"></i> X 계정으로 로그인</button>
										</div>
									</div>
									<div class="row" style="margin-top: 5px;">
										<div class="col-md-6">
											<button class="btn btn-naver btn-icon btn-block" style="background-color: #03C75A; color: white; border: none;">
												<img src="./assets/images/naver.svg" style="width: 14px; margin-right: 5px;"></i> 네이버 계정으로 로그인</button>
										</div>
										<div class="col-md-6">
											<button class="btn btn-kakao btn-icon btn-block" style="background-color: #FFEB00; color: #3C1E1E; border: none;">
												<img src="./assets/images/kakao.svg" style="width: 14px; margin-right: 5px;"></i> 카카오 계정으로 로그인</button>
										</div>
									</div>
								</form>
								<!-- Login Form / End -->
		
							</div>
						</div>
						<!-- Login / End -->
					</div>
		<!-- Footer
		================================================== -->
		<footer id="footer" class="footer">
		
			<!-- Widget: Instagram Section -->
			<aside class="widget widget-instagram">
				<div class="widget__content">
					<ul id="instagram-feed-section" class="widget-instagram__list widget-instagram__list-section widget-instagram__list-section--skewed">
						<li class="widget-instagram__item">
							<a href="#" class="widget-instagram__link-wrapper" target="_blank">
								<span class="widget-instagram__plus-sign">
									<img src="assets/images/hockey/samples/instagram-img-1.jpg" class="widget-instagram__img" alt="Image 1" />
								</span>
							</a>
						</li>
						<li class="widget-instagram__item">
							<a href="#" class="widget-instagram__link-wrapper" target="_blank">
								<span class="widget-instagram__plus-sign">
									<img src="assets/images/hockey/samples/instagram-img-2.jpg" class="widget-instagram__img" alt="Image 2" />
								</span>
							</a>
						</li>
						<li class="widget-instagram__item">
							<a href="#" class="widget-instagram__link-wrapper" target="_blank">
								<span class="widget-instagram__plus-sign">
									<img src="assets/images/hockey/samples/instagram-img-3.jpg" class="widget-instagram__img" alt="Image 3" />
								</span>
							</a>
						</li>
						<li class="widget-instagram__item">
							<a href="#" class="widget-instagram__link-wrapper" target="_blank">
								<span class="widget-instagram__plus-sign">
									<img src="assets/images/hockey/samples/instagram-img-4.jpg" class="widget-instagram__img" alt="Image 4" />
								</span>
							</a>
						</li>
						<li class="widget-instagram__item">
							<a href="#" class="widget-instagram__link-wrapper" target="_blank">
								<span class="widget-instagram__plus-sign">
									<img src="assets/images/hockey/samples/instagram-img-5.jpg" class="widget-instagram__img" alt="Image 5" />
								</span>
							</a>
						</li>
						<li class="widget-instagram__item">
							<a href="#" class="widget-instagram__link-wrapper" target="_blank">
								<span class="widget-instagram__plus-sign">
									<img src="assets/images/hockey/samples/instagram-img-6.jpg" class="widget-instagram__img" alt="Image 6" />
								</span>
							</a>
						</li>
						<li class="widget-instagram__item widget-instagram__item--logo">
							<a href="_hockey_index.html"><img src="assets/images/hockey/logo-footer.png" srcset="assets/images/hockey/logo-footer@2x.png 2x" alt="Alchemists" class="widget-instagram__item__logo"></a>
						</li>
					</ul>
				</div>
			</aside>
			<!-- Widget: Instagram Section / End -->
		
			<!-- Footer Widgets -->
			<div class="footer-widgets">
				<div class="footer-widgets__inner">
					<div class="container">
						<div class="row">
							<div class="col-lg-4">
								<!-- Widget: Links -->
								<aside class="widget widget--footer widget_nav_menu">
									<h4 class="widget__title">Alchemists Links</h4>
									<div class="widget__content">
										<div class="row">
											<div class="col">
												<ul class="widget__list">
													<li><a href="_hockey_index.html">Homepage v1</a></li>
													<li><a href="_hockey_index-2.html">Homepage v2</a></li>
													<li><a href="_hockey_blog-1.html">News Page v1</a></li>
													<li><a href="_hockey_blog-2.html">News Page v2</a></li>
													<li><a href="_hockey_blog-3.html">News Page v3</a></li>
													<li><a href="_hockey_blog-post-1.html">Post Page v1</a></li>
													<li><a href="_hockey_blog-post-2.html">Post Page v2</a></li>
													<li><a href="_hockey_blog-post-3.html">Post Page v3</a></li>
												</ul>
											</div>
											<div class="col">
												<ul class="widget__list">
													<li><a href="_hockey_event-calendar.html">Scores Calendar</a></li>
													<li><a href="_hockey_features-tickets.html">Buy Tickets</a></li>
													<li><a href="_hockey_blog-post-video.html">Video Player</a></li>
													<li><a href="_hockey_page-event.html">Event Page</a></li>
													<li><a href="_hockey_page-contacts.html">Contact Page</a></li>
													<li><a href="_hockey_features-search-results.html">Search Results</a></li>
													<li><a href="_hockey_features-shortcodes.html">Shortcodes</a></li>
													<li><a href="_hockey_shop-login.html">Login / Register</a></li>
												</ul>
											</div>
										</div>
									</div>
								</aside>
								<!-- Widget: Links / End -->
							</div>
							<div class="col-lg-2">
								<!-- Widget: Links -->
								<aside class="widget widget--footer widget_nav_menu">
									<h4 class="widget__title">Team Pages</h4>
									<div class="widget__content">
										<ul class="widget__list">
											<li><a href="_hockey_team-overview.html">Overview</a></li>
											<li><a href="_hockey_team-roster.html">Roster</a></li>
											<li><a href="_hockey_team-standings.html">Standings</a></li>
											<li><a href="_hockey_team-last-results.html">Latest Results</a></li>
											<li><a href="_hockey_team-schedule.html">Schedule</a></li>
											<li><a href="_hockey_team-gallery.html">Gallery</a></li>
										</ul>
									</div>
								</aside>
								<!-- Widget: Links / End -->
							</div>
							<div class="col-lg-2">
								<!-- Widget: Links -->
								<aside class="widget widget--footer widget_nav_menu">
									<h4 class="widget__title">Player Pages</h4>
									<div class="widget__content">
										<ul class="widget__list">
											<li><a href="_hockey_player-overview.html">Overview</a></li>
											<li><a href="_hockey_player-stats.html">Career Stats</a></li>
											<li><a href="_hockey_player-gameslog.html">Games Log</a></li>
											<li><a href="_hockey_player-awards.html">Awards</a></li>
											<li><a href="_hockey_player-bio-news.html">Bio and News</a></li>
											<li><a href="_hockey_player-gallery.html">Gallery</a></li>
										</ul>
									</div>
								</aside>
								<!-- Widget: Links / End -->
							</div>
							<div class="col-lg-2">
								<!-- Widget: Links -->
								<aside class="widget widget--footer widget_nav_menu">
									<h4 class="widget__title">Match Full Stats</h4>
									<div class="widget__content">
										<ul class="widget__list">
											<li><a href="_hockey_event-overview.html">Overview</a></li>
											<li><a href="_hockey_event-box-score.html">Box Score</a></li>
											<li><a href="_hockey_event-play-by-play.html">Play-by-Play</a></li>
											<li><a href="_hockey_event-team-stats.html">Team Stats</a></li>
											<li><a href="_hockey_event-news-recap.html">News Recap</a></li>
											<li><a href="_hockey_event-videos.html">Videos</a></li>
										</ul>
									</div>
								</aside>
								<!-- Widget: Links / End -->
							</div>
							<div class="col-lg-2">
								<!-- Widget: Links -->
								<aside class="widget widget--footer widget_nav_menu">
									<h4 class="widget__title">The Shop</h4>
									<div class="widget__content">
										<ul class="widget__list">
											<li><a href="_hockey_shop-grid-fullwidth.html">Main Shop</a></li>
											<li><a href="_hockey_shop-grid-sidebar.html">Shop + Sidebar Grid</a></li>
											<li><a href="_hockey_shop-list-sidebar.html">Shop + Sidebar List</a></li>
											<li><a href="_hockey_shop-product.html">Product Page</a></li>
											<li><a href="_hockey_shop-cart.html">Shopping Cart</a></li>
											<li><a href="_hockey_shop-checkout.html">Checkout</a></li>
											<li><a href="_hockey_shop-wishlist.html">Wishlist</a></li>
											<li><a href="_hockey_shop-account.html">Your Account</a></li>
										</ul>
									</div>
								</aside>
								<!-- Widget: Links / End -->
							</div>
						</div>
					</div>
				</div>
		
			</div>
			<!-- Footer Widgets / End -->
		
			<!-- Footer Secondary -->
			<div class="footer-secondary">
				<div class="container">
					<div class="footer-secondary__inner">
						<div class="row">
							<div class="col-lg-6">
								<!-- Social Links -->
								<ul class="social-links social-links--btn social-links--btn-plus">
									<li class="social-links__item">
										<a href="#" class="social-links__link social-links__link--facebook">
											<i class="fab fa-facebook"></i>
											<span class="social-links__label">Facebook</span>
											<span class="social-links__icon"><i class="fas fa-plus"></i></span>
										</a>
									</li>
									<li class="social-links__item">
										<a href="#" class="social-links__link social-links__link--twitter">
											<i class="fab fa-twitter"></i>
											<span class="social-links__label">Twitter</span>
											<span class="social-links__icon"><i class="fas fa-plus"></i></span>
										</a>
									</li>
									<li class="social-links__item">
										<a href="#" class="social-links__link social-links__link--instagram">
											<i class="fab fa-instagram"></i>
											<span class="social-links__label">Instagram</span>
											<span class="social-links__icon"><i class="fas fa-plus"></i></span>
										</a>
									</li>
								</ul>
								<!-- Social Links / End -->
							</div>
							<div class="col-lg-6">
								<!-- Sponsors -->
								<div class="sponsors-slider">
									<h6 class="sponsors-slider__title">Our Sponsors:</h6>
									<div class="sponsors-slider__items">
										<!-- Slider main container -->
										<div class="swiper sponsors-slider__container js-alc-sponsors-slider">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<a href="#"><img src="assets/images/hockey/sponsor-logo-1.png" alt="HTML5"></a>
												</div>
												<div class="swiper-slide">
													<a href="#"><img src="assets/images/hockey/sponsor-logo-2.png" alt="Google Fonts"></a>
												</div>
												<div class="swiper-slide">
													<a href="#"><img src="assets/images/hockey/sponsor-logo-3.png" alt="SportsPress"></a>
												</div>
												<div class="swiper-slide">
													<a href="#"><img src="assets/images/hockey/sponsor-logo-4.png" alt="Envato"></a>
												</div>
											</div>
										</div>
										<!-- Slider main container / End -->
										<!-- Slider navigation -->
										<div class="js-alc-sponsors-slider__button-prev swiper-button-prev swiper-button--xs swiper-button--fa"></div>
										<div class="js-alc-sponsors-slider__button-next swiper-button-next swiper-button--xs swiper-button--fa"></div>
										<!-- Slider navigation / End -->
									</div>
								</div>
								<!-- Sponsors / End -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Secondary / End -->
		</footer>
		<!-- Footer / End -->

	</div>

	<!-- Javascript Files
	================================================== -->
	<!-- Core JS -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/jquery/jquery-migrate.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/swiper/js/swiper-bundle.min.js"></script>
	<script src="assets/js/core.js"></script>
	
	<!-- Vendor JS -->
	
	<!-- Template JS -->
	<script src="assets/js/init.js"></script>
	<script src="assets/js/custom.js"></script>

</body>
</html>
