<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{xdm/include/head :: head}"></div>
<div th:replace="~{xdm/team/TeamXdmVo :: vo}"></div>

        <!--end::Sidebar Wrapper-->
      </aside>
      <!--end::Sidebar-->
      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Team</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Team</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!-- Timelime example  -->
            <div class="row">
              <div class="col-12">
                <!-- The icons -->
                <div class="col-12">
                  <div class="card card-primary card-outline">
                    <div class="card-header"><h3 class="card-title">기본정보</h3></div>
                      <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-3">
						<form action="/team/TeamXdmInst" method="post" enctype="multipart/form-data" id="form" class="needs-validation" novalidate onsubmit="return validation()">	
							 <label class="form-label">코드 번호<span class="text-danger"> *</span></label>
							 <input type="hidden" id="tmSeq" name="tmSeq" th:value="${item?.tmSeq}" maxlength="20" placeholder="자동생성" class="form-control" />
							 <input type="text" name="tmSeq" id="tmSeq" class="form-control" value="자동생성" disabled style="background-color: grey;">
                            </div>
							<div class="col-md-3">
							  <label class="form-label">사용여부 <span class="text-danger"> *</span></label>
							  <select class="form-select"  name="tmUse" id="tmUse" th:value="${item?.tmUse}">
							    <option selected value="1">사용</option>
							  <option value="0">미사용</option>
							  </select>
							</div>
							<div class="col-md-3">
							  <label class="form-label">리그 <span class="text-danger"> *</span></label>
							  <select class="form-select"  name="tmLeague" id="tmLeague" th:value="${item?.tmLeague}">
								<option selected value="">리그 선택</option>
							    <!--<option th:each="list:${league}" th:text="${list.cdName}" th:value="${list.cdSeq}"></option>-->
								<option th:each="list : ${@codeService.selectListCachedCode(3)}" th:value="${list.cdSeq}" th:text="${list.cdName}" th:selected="${item.tmLeague} == ${list.cdSeq}"></option>								
							 </select>
							 <div id="tmLeagueError" class="invalid-feedback">올바르지 않은 형식</div>
						 </div>
							<div class="col-md-3">
							  <label class="form-label">소속 <span class="text-danger"> *</span></label>
							  <select class="form-select" name="tmDiv" id="tmDiv" th:value="${item?.tmDiv}">
								 <option selected value="">소속 선택</option>
								 <option th:each="list:${division}" th:text="${list.cdName}" th:value="${list.cdSeq}" th:selected="${item.tmDiv} == ${list.cdSeq}"></option>				 
							 </select>
							 <div id="tmDivError" class="invalid-feedback">올바르지 않은 형식</div>		
							</div>                       
                        
                        <div class="row g-3 mt-1">
							<div class="col-md-3">
							  <label class="form-label">팀 이름(연고지, 영문)<span class="text-danger"> *</span></label>
							  <input type="text" name="tmHomeName" id="tmHomeName" class="form-control" placeholder="영어" th:value="${item?.tmHomeName}" required>
							  <div id="tmHomeNameError" class="invalid-feedback">올바르지 않은 형식</div>
							</div>
                          <div class="col-md-3">
                            <label class="form-label">팀 이름(구단명, 영문)<span class="text-danger"> *</span></label>
                            <input type="text" name="tmName" id="tmName" class="form-control" placeholder="영어" th:value="${item?.tmName}" required>
							<div id="tmNameError" class="invalid-feedback">올바르지 않은 형식</div>
                          </div>
						  <div class="col-md-3">
						    <label class="form-label">팀 이름(연고지, 한글)<span class="text-danger"> *</span></label>
						    <input type="text" name="tmHomeNameKor" id="tmHomeNameKor" class="form-control" placeholder="한글" th:value="${item?.tmHomeNameKor}" required>
							<div id="tmHomeNameKorError" class="invalid-feedback">올바르지 않은 형식</div> 
						  </div>
						  <div class="col-md-3">
						    <label class="form-label">팀 이름(구단명, 한글)<span class="text-danger"> *</span></label>
						    <input type="text" name="tmNameKor" id="tmNameKor" class="form-control" placeholder="한글" th:value="${item?.tmNameKor}" required>
							<div id="tmNameKorError" class="invalid-feedback">올바르지 않은 형식</div>
						  </div>
						  <div class="col-md-3">
						    <label class="form-label">팀 약어<span class="text-danger"> *</span></label>
						    <input type="text" name="tmNameAb" id="tmNameAb" class="form-control" placeholder="영어" th:value="${item?.tmNameAb}" required>
							<div id="tmNameAbError" class="invalid-feedback">올바르지 않은 형식</div>
						  </div>
                        </div>
                        <div class="row g-3 mt-1">
                          <div class="col-md-6">
                            <label class="form-label">설명</label>
                            <textarea class="form-control" rows="3" style="resize: both;"></textarea>
                        </div>
                      </div>
                      
					  <div class="mt-3 d-flex">
					    <button type="button" class="btn btn-light" onclick="window.location.href='CodeXdmList';">
					  	<i class="fa-solid fa-list"></i>
					  </button>

					  <div class="ms-auto d-flex gap-1">
					      <button type="button" id="btnDelete" class="btn btn-danger"><i class="fa fa-times"></i></button>
					      <button type="button" id="btnUelete" class="btn btn-danger"><i class="fa fa-trash"></i></button>
					      <button type="button" id="btnSave" class="btn btn-primary">
					          <i class="fa-solid fa-database"></i>
					      </button>
					  </div>
					  </form>
					 </div>
                    </div>
              <!-- /.col -->
                  </div>
            <!-- /.row -->
              </div>
          <!--end::Container-->
        </div>
       </div>
      </div>
        <!--end::App Content-->
      </main>
	  <div th:replace="~{xdm/include/modal :: modal}"></div>
      <!--end::App Main-->
      <!--begin::Footer-->
	  <script
	    src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.10.1/browser/overlayscrollbars.browser.es6.min.js"
	    integrity="sha256-dghWARbRe2eLlIJ56wNB+b760ywulqK3DzZYEpsg2fQ="
	    crossorigin="anonymous"
	  ></script>
	  <!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Required Plugin(popperjs for Bootstrap 5)-->
	  <script
	    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	    crossorigin="anonymous"
	  ></script>
	  <!--end::Required Plugin(popperjs for Bootstrap 5)--><!--begin::Required Plugin(Bootstrap 5)-->
	  <script
	    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
	    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
	    crossorigin="anonymous"
	  ></script>
	  <!--end::Required Plugin(Bootstrap 5)--><!--begin::Required Plugin(AdminLTE)-->
	  <script src="/xdm/template/AdminLTE/js/adminlte.js"></script>
	  <!--end::Required Plugin(AdminLTE)--><!--begin::OverlayScrollbars Configure-->
	  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	  <script>
	    const SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper';
	    const Default = {
	      scrollbarTheme: 'os-theme-light',
	      scrollbarAutoHide: 'leave',
	      scrollbarClickScroll: true,
	    };
	    document.addEventListener('DOMContentLoaded', function () {
	      const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
	      if (sidebarWrapper && typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== 'undefined') {
	        OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
	          scrollbars: {
	            theme: Default.scrollbarTheme,
	            autoHide: Default.scrollbarAutoHide,
	            clickScroll: Default.scrollbarClickScroll,
	          },
	        });
	      }
	    });
	  </script>
      <script type="text/javascript">	


		let tmSeq = document.querySelector("input[name=tmSeq]");
		let TeamXdmInst = "/team/TeamXdmInst";
		let TeamXdmUpdt = "/team/TeamXdmUpdt";		

		document.getElementById("btnSave").onclick = function () {
		    function validation() {
		        let isValid = true;

		        // 코드이름 유효성 검사
		        const tmHomeName = document.getElementById('tmHomeName');
		        const tmHomeNameError = document.getElementById('tmHomeNameError');
		        if (tmHomeName.value.trim() === "") {
		            tmHomeNameError.textContent = "이름을 입력하세요.";
		            tmHomeName.classList.add("is-invalid");
		            isValid = false;
		        } else {
		            tmHomeNameError.textContent = "";
		            tmHomeName.classList.remove("is-invalid");
		        }

		        // 코드그룹 선택 여부 확인
		        const tmLeague = document.getElementById('tmLeague');
		        const tmLeagueError = document.getElementById('tmLeagueError');
		        if (tmLeague.value.trim() === "") {
		            tmLeagueError.textContent = "리그를 선택하세요.";
		            tmLeague.classList.add("is-invalid");
		            isValid = false;
		        } else {
		            tmLeagueError.textContent = "";
		            tmLeague.classList.remove("is-invalid");
		        }
				
				const tmDiv = document.getElementById('tmDiv');
				const tmDivError = document.getElementById('tmDivError');
				if (tmDiv.value.trim() === "") {
				    tmDivError.textContent = "디비전을 선택하세요.";
				    tmDiv.classList.add("is-invalid");
				    isValid = false;
				} else {
				    tmDivError.textContent = "";
				    tmDiv.classList.remove("is-invalid");
				}

		        // 순서 필드 유효성 검사 (숫자 입력)
				const tmName = document.getElementById('tmName');
				const tmNameError = document.getElementById('tmNameError');
				if (tmName.value.trim() === "") {
				    tmNameError.textContent = "이름을 입력하세요.";
				    tmName.classList.add("is-invalid");
				    isValid = false;
				} else {
				    tmNameError.textContent = "";
				    tmName.classList.remove("is-invalid");
				}

				const tmHomeNameKor = document.getElementById('tmHomeNameKor');
				const tmHomeNameKorError = document.getElementById('tmHomeNameKorError');
				if (tmHomeNameKor.value.trim() === "") {
				    tmHomeNameKorError.textContent = "이름을 입력하세요.";
				    tmHomeNameKor.classList.add("is-invalid");
				    isValid = false;
				} else {
				    tmHomeNameKorError.textContent = "";
				    tmHomeNameKor.classList.remove("is-invalid");
				}
				
				const tmNameKor = document.getElementById('tmNameKor');
				const tmNameKorError = document.getElementById('tmNameKorError');
				if (tmNameKor.value.trim() === "") {
				    tmNameKorError.textContent = "이름을 입력하세요.";
				    tmNameKor.classList.add("is-invalid");
				    isValid = false;
				} else {
				    tmNameKorError.textContent = "";
				    tmNameKor.classList.remove("is-invalid");
				}
				
				const tmNameAb = document.getElementById('tmNameAb');
				const tmNameAbError = document.getElementById('tmNameAbError');
				if (tmNameAb.value.trim() === "") {
				    tmNameAbError.textContent = "이름을 입력하세요.";
				    tmNameAb.classList.add("is-invalid");
				    isValid = false;
				} else {
				    tmNameAbError.textContent = "";
				    tmNameAb.classList.remove("is-invalid");
				}

		        return isValid;
		    }

		    // 유효성 검사 실행
		    if (!validation()) {
		        return; // 유효성 검사 실패 시 폼 제출 중단
		    }

		    // 폼 제출
		    const form = document.querySelector("form"); // 폼 객체 가져오기
		    const tmSeq = document.getElementById("tmSeq");

		    if (tmSeq.value === "0" || tmSeq.value === "") {
		        form.action = "/team/TeamXdmInst"; // 새로운 코드그룹 생성
		    } else {
		        form.action = "/team/TeamXdmUpdt"; // 기존 코드그룹 업데이트
		    }

		    // 폼 제출
		    form.submit();
			}
      </script>
	  
	   <script>
	  let form = document.getElementById("form");
	  let TeamXdmUele = "/team/TeamXdmUele"
	  let TeamXdmDele = "/team/TeamXdmDele"	
	  	
	    if(document.getElementById("btnUelete")){
	    	document.getElementById("btnUelete").onclick = function () {
	    		document.querySelector("#modalConfirmTitle").textContent = "경고";
	    		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
	    		document.querySelector("#btnModalUelete").style.display = '';
	    		document.querySelector("#btnModalDelete").style.display = 'none';
	    		$("#modalConfirm").modal("show");	     	
	    	}
	    }


	    document.getElementById("btnModalUelete").onclick = function () {
	    	form.action = TeamXdmUele;
	    	form.submit();
	    }
	    </script>
	    
	     <script>
	    	
	      if(document.getElementById("btnDelete")){
	      	document.getElementById("btnDelete").onclick = function () {
	      		document.querySelector("#modalConfirmTitle").textContent = "경고";
	      		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
	      		document.querySelector("#btnModalUelete").style.display = 'none';
	      		document.querySelector("#btnModalDelete").style.display = '';
	      		$("#modalConfirm").modal("show");	     	
	      	}
	      }


	      document.getElementById("btnModalDelete").onclick = function () {
	      	form.action = TeamXdmDele;
	      	form.submit();
	      }
	      </script>
	  

	  <div th:replace="~{xdm/include/footer :: footer}"></div>
