<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="~{hof/include/hofHead :: head}"></div>

		<!-- Page Heading
		================================================== -->
		<div class="page-heading page-heading--horizontal page-heading--title-highlight">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-6">
						<div class="page-heading__inner page-heading__inner--highlight">
							<h1 class="page-heading__title">프로필</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
		
		
		<!-- Content
		================================================== -->
		<div class="site-content">
			<div class="container">
		
				<div class="row">
		
					<div class="col-lg-4">
		
						<!-- Account Navigation -->
						<div class="card">
							<div class="card__content">
								<div class="df-account-user">
									<figure class="df-account-user__avatar">
										<img src="/hof/template/assets/images/userbasicimg.png" alt="">
									</figure>
									<div class="df-account-user__body">
										<div class="df-account-user__header">
											<h4 class="df-account-user__title" th:text="${list.urName}">Iron_Hockey_V</h4>
											<div class="df-account-user__subtitle" th:text="${list.urNickname}">Robert Stark</div>
										</div>
										<ul class="df-account-user__info">
											<li class="df-account-user__info-item">
												<span class="df-account-user__info-item-label">Posts:</span>
												<span class="df-account-user__info-item-value">0</span>
											</li>
											<li class="df-account-user__info-item">
												<span class="df-account-user__info-item-label">Likes:</span>
												<span class="df-account-user__info-item-value">0</span>
											</li>
											<li class="df-account-user__info-item">
												<span class="df-account-user__info-item-label">Topics:</span>
												<span class="df-account-user__info-item-value">0</span>
											</li>
										</ul>
									</div>
								</div>
								<nav class="df-account-navigation">
									<ul>
										<li class="df-account-navigation__link df-account-navigation__link--active">
											<a href="baseball-profile.html">프로필</a>
										</li>
										<li class="df-account-navigation__link">
											<a href="baseball-myPage.html">마이페이지</a>
										</li>
										<li class="df-account-navigation__link">
											<a href="/hof/hofUsrSecession">탈퇴하기</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						<!-- Account Navigation / End -->
					</div>
		
					<div class="col-lg-8">
		
						<!-- Account Settings -->
						<div class="card">
							<div class="card__header">
								<h4>프로필</h4>
							</div>
							<div class="card__content pt-0">
								<div class="card__subheader card__subheader--sm border-top-0 text-left">
									<h5>메인 프로필</h5>
								</div>
									<div class="form-group form-group--floating-label">
										<input type="text" class="form-control" id="account-name" th:value="${list.urName}" disabled>
										<label class="control-label" for="account-email">이름</label>
									</div>
									<div class="form-group form-group--floating-label">
										<input type="text" class="form-control" id="account-nickname" th:value="${list.urNickname}" disabled>
										<label class="control-label" for="account-email">닉네임</label>
									</div>
									<div class="form-group form-group--floating-label">
										<input type="text" class="form-control" id="account-ID" th:value="${list.urID}" disabled>
										<label class="control-label" for="account-email">아이디</label>
									</div>
									<div class="form-group form-group--floating-label">
										<input type="email" class="form-control" id="account-email" th:value="${list.emailID + '@' + @codeService.selectOneCachedEngCode(list.email)}" disabled>
										<label class="control-label" for="account-email">이메일</label>
										<a href="/hof/hofUsrChangeEmail">
											<button href="" class="btn btn-primary-inverse btn-lg" style="position: absolute; top: 0; right: 0; height: 51px; width: 30%; background-color: #573ccb; border: 1px solid #573ccb; color: #fff; border-radius: 0px; display: flex; align-items: center; justify-content: center; white-space: nowrap;">
												이메일 변경
											</button>
										</a>
									</div>
									<div class="form-group form-group--floating-label">
										<input type="phone" class="form-control" id="account-phone" th:value="${list.phoneNumber}" disabled>	
										<label class="control-label" for="account-phone">휴대전화</label>
										<a href="/hof/hofUsrChangePhoneNumber">
											<button href="" class="btn btn-primary-inverse btn-lg" style="position: absolute; top: 0; right: 0; height: 51px; width: 30%; background-color: #573ccb; border: 1px solid #573ccb; color: #fff; border-radius: 0px; display: flex; align-items: center; justify-content: center; white-space: nowrap;">
												전화번호 수정
											</button>
										</a>
									</div>
									<div class="form-group form-group--floating-label">
										<input type="email" class="form-control" id="account-email" th:value="${list.urPostNumber}" disabled>
										<label class="control-label" for="account-email">우편번호</label>
										<a href="/hof/hofUsrChangeAddress">
											<button href="" class="btn btn-primary-inverse btn-lg" style="position: absolute; top: 0; right: 0; height: 51px; width: 30%; background-color: #573ccb; border: 1px solid #573ccb; color: #fff; border-radius: 0px; display: flex; align-items: center; justify-content: center; white-space: nowrap;">
												우편번호 변경
											</button>
										</a>
									</div>
									<div class="form-group form-group--floating-label">
										<!-- 사용자에게 보여지는 주소 (readonly 처리) -->
										<input type="text" class="form-control" id="account-ID"
										       th:value="${(list.urAddress ?: '') + ' ' + (list.urDetailAddress ?: '')}" readonly>
										<label class="control-label" for="account-ID">주소</label>

										<!-- 실제 제출용 hidden input -->
										<input type="hidden" name="urAddress" th:value="${list.urAddress ?: ''}">
										<input type="hidden" name="urDetailAddress" th:value="${list.urDetailAddress ?: ''}">
									</div>
									<div id="map" style="width:300px;height:300px;margin-top:10px;margin-bottom:20px;display:block;"></div>
									<div class="text-left" style="margin-bottom: 20px;">
										<a href="/hof/hofUsrChangePassword">
											<button class="btn btn-md btn-primary-inverse">비밀번호 수정</button>
										</a>
									</div>
								</form>
								<div class="card__subheader card__subheader--sm text-left">
									<h5>사진 수정</h5>
								</div>
								<div class="form-group form-group--upload-photo mb-0">
									<div class="form-group__photo">
										<img src="/hof/template/assets/images/userbasicimg.png" alt="">
									</div>
									<div class="form-group__upload-btn">
										<label class="btn btn-default btn-xs btn-file">
											Browse a photo... <input type="file" class="d-none" id="inImg" accept="image/*">
										</label>
										<div class="form-group__label d-block">
											<span>100x100px 최소 해상도</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Account Settings / End -->
					</div>
				</div>
		
			</div>
		</div>
		<!-- Content / End -->
		
<div th:replace="~{hof/include/hofFooter :: footer}"></div>
<div th:replace="~{hof/include/hofJs :: js}"></div>		

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3ea77320e4a8b54e15aa47ed240f05de&libraries=services"></script>
	
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=여기에_앱키_입력&libraries=services"></script>
	
	<script th:inline="javascript">
	    window.onload = function () {
	        var mapContainer = document.getElementById('map');
	        var mapOption = {
	            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 초기 위치: 서울시청
	            level: 3
	        };

	        var map = new kakao.maps.Map(mapContainer, mapOption);
	        var geocoder = new kakao.maps.services.Geocoder();

	        // 사용자 주소 문자열 합치기
			var userAddress = /*[[${'"' + list.urAddress + '' + list.urDetailAddress + '"'}]]*/'';

	        if (userAddress && userAddress.trim() !== "") {
	            geocoder.addressSearch(userAddress, function(result, status) {
	                if (status === kakao.maps.services.Status.OK) {
	                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

	                    // 지도 중심 이동
	                    map.setCenter(coords);

	                    // 마커 생성
	                    var marker = new kakao.maps.Marker({
	                        map: map,
	                        position: coords
	                    });
	                } else {
	                    console.warn("주소 검색 실패:", status);
	                }
	            });
	        } else {
	            console.warn("주소 없음");
	        }
	    };
	</script>
	
	<script>
		var inImg = document.getElementById("inImg");
		inImg.addEventListener('change', function(e){
			var file = e.target.files[0];
			var reader = new FileReader();
			reader.readAsDataURL(file);
			alert();

		});
		

		
	</script>


</body>
</html>
