<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{hof/include/hofHead :: head}"></div>

		<!-- Page Heading
		================================================== -->
		<div class="page-heading page-heading--horizontal page-heading--title-highlight">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-6">
						<div class="page-heading__inner page-heading__inner--highlight">
							<h1 class="page-heading__title">비밀번호 변경</h1>
						</div>
					</div>
					<div class="col-6">
						<div class="page-heading__inner ml-auto">
							<ol class="page-heading__breadcrumb breadcrumb">
								<li class="breadcrumb-item"><a href="baseball-main.html">Home</a></li>
								<li class="breadcrumb-item"><a href="baseball-profile.html">프로필</a></li>
								<li class="breadcrumb-item active" aria-current="page">비밀번호 변경</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
		
		
		<!-- Content
		================================================== -->
		<div class="site-content">
			<div class="container">
		
				<div class="row justify-content-center">
		
					<div class="col-lg-6 mx-auto">
		
						<!-- Login -->
						<div class="card">
							<div class="card">
								<div class="card__header">
									<h4>비밀번호 변경</h4>
								</div>
								<div class="card__header-bg effect-duotone effect-duotone--primary"></div>
							</div>
							<div class="card__content">
		
								<!-- Login Form -->

								<!-- 휴대폰 체크박스 -->
								<form action="#">
									<div class="form-group form-group--floating-label" style="margin-top: -20px;">
										<input type="password" class="form-control" id="login-newpassword" placeholder="비밀번호 *">
										<label class="control-label" for="login-newpassword">기존 비밀번호 *</label>
									</div>
									<div class="form-group form-group--floating-label">
										<input type="password" class="form-control" id="login-newpassword" placeholder="비밀번호 *">
										<label class="control-label" for="login-newpassword">새 비밀번호 *</label>
									</div>
									<div class="form-group form-group--floating-label" style="margin-top: -25px;">
										<input type="password" class="form-control" id="login-newpasswordcheck" placeholder="비밀번호 *">
										<label class="control-label" for="login-newpasswordcheck">새 비밀번호 확인*</label>
									</div>
								
									<div class="form-group form-group--sm">
										<a href="#" id="openPasswordChangeModal" class="btn btn-primary-inverse btn-lg btn-block">확인</a>
									</div>

									<div class="form-group form-group--sm">
										<a href="baseball-profile.html" id="openPasswordChangeModal" class="btn btn-default btn-lg btn-block">취소</a>
									</div>
								
									<!-- 모달 창 -->
									<div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="passwordChangeModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="passwordChangeModalLabel" style="margin-top: 20px;">비밀번호 변경 완료</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													비밀번호가 성공적으로 변경되었습니다. 5초 후 프로필 화면으로 이동합니다.
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-confirm-btn">확인</button>
												</div>
											</div>
										</div>
									</div>
								</form>
								
								<!-- Login Form / End -->
		
							</div>
						</div>
						<!-- Login / End -->
					</div>
				</div>
			</div>
		</div>
		<div th:replace="~{hof/include/hofFooter :: footer}"></div>



	<!-- Javascript Files
	================================================== -->                                       
	<!-- Core JS -->
	<script src="/hof/template/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/hof/template/assets/vendor/jquery/jquery-migrate.min.js"></script>
	<script src="/hof/template/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/hof/template/assets/vendor/swiper/js/swiper-bundle.min.js"></script>
	<script src="/hof/template/assets/js/core.js"></script>

	<!-- Vendor JS -->
	
	<!-- Template JS -->
	<script src="/hof/template/assets/js/init.js"></script>
	<script src="/hof/template/assets/js/custom.js"></script>
	<script src="/hof/template/assets/js/profileChangePassword.js"></script>
</body>
</html>
