<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>

	<div th:replace="~{hof/include/hofHead :: head}"></div>

		<!-- Page Heading
		================================================== -->
		<div class="page-heading page-heading--horizontal page-heading--title-highlight">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-6">
						<div class="page-heading__inner page-heading__inner--highlight">
							<h1 class="page-heading__title">회원가입</h1>
						</div>
					</div>
					<div class="col-6">
						<div class="page-heading__inner ml-auto">
							<ol class="page-heading__breadcrumb breadcrumb">
								<li class="breadcrumb-item"><a href="_hockey_index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">회원가입</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
		
		
		<!-- Content
		================================================== -->
		<div class="site-content">
			<div class="container">
		
				<div class="row justify-content-center">
				
					<div class="col-lg-6 mx-auto">
		
						<!-- Register -->
						<div class="card">
							<div class="card__header">
								<h4>회원가입</h4>
							</div>
							<div class="card__content">
		
								<!-- Register Form -->
								<form action="/user/UserHofInst" method="post" enctype="multipart/form-data" id="form" class="needs-validation" novalidate onsubmit="return validation()">
									<input type="hidden" id="urSeq" name="urSeq" th:value="${item?.urSeq}" maxlength="20" placeholder="자동생성" class="form-control" />
									<input type="hidden" name="urSeq" id="urSeq" class="form-control" value="자동생성" style="background-color: grey;">
									<div class="form-group form-group--floating-label">
										<input type="text" class="form-control" id="urName" name="urName" placeholder="이름 *">
										<label class="control-label" for="register-name">이름 <span style="color: red;">*</span></label>
										<small id="urNameError" class="text-danger" style="display: none;">이름을 입력해주세요.</small>
									</div>  
									<div class="form-group form-group--floating-label">
										<input type="text" class="form-control" name="urBirth" id="urBirth" placeholder="yy-mm-dd" readonly>
										<label class="control-label" for="register-birth">생년월일 8자리 <span style="color: red;">*</span></label>
										<small id="urBirthError" class="text-danger" style="display: none;">생년월일을 입력해주세요.</small>
									</div>				
									<div class="d-flex justify-content-between mb-4 btn-group-toggle d-flex" data-toggle="buttons" style="width: 100%">
									  <label th:each="list : ${@codeService.selectListCachedCode(2)}"
									         class="btn btn-info btn-outline flex-fill">
									    <input type="radio" name="urGender" th:value="${list.cdSeq}" autocomplete="off">
									    <span th:text="${list.cdName}">성별</span>
									  </label>
									</div>
									<small id="urGenderError" class="text-danger" style="display: none; margin: -20px 0 20px 0;">이름을 입력해주세요.</small>	
									<div class="form-group form-group--floating-label"> 
										<input type="id" class="form-control" id="urNickname" name="urNickname" placeholder="닉네임 *" maxlength="15">
										<label class="control-label"  for="register-password">닉네임 <span style="color: red;">*</span></label>
										<!--<button type="button" id="btnNickCheck" class="btn btn-primary-inverse btn-lg btn-block" style="position: absolute; top: 0; right: 0; height: 100%; width: 30%; background-color: #573ccb; border: 1px solid #573ccb; color: #fff; border-radius: 4px; font-size: 14px; border-radius: 0;">닉네임 중복확인</button>-->									
									</div>
									<small id="urNicknameInfo" class="text-dark" style="display: block; margin: -20px 0 20px 0;">
									  닉네임은 결정된 후 변경이 불가능합니다. 신중히 등록하세요.
									</small>
									<small id="urNicknameError" class="text-danger" style="display: none; margin: -20px 0 20px 0";>닉네임을 입력해주세요.</small>
									<small id="urNicknameSuce" class="text-success" style="display: none; margin: -20px 0 20px 0";>닉네임을 입력해주세요.</small>
									<div class="form-group form-group--floating-label"> 
										<input type="id" class="form-control" id="urID" name="urID" placeholder="아이디 *" maxlength="20">
										<label class="control-label" for="register-password">아이디 <span style="color: red;">*</span></label>
										<!--<button type="button" id="btnIdCheck" class="btn btn-primary-inverse btn-lg btn-block" style="position: absolute; top: 0; right: 0; height: 100%; width: 30%; background-color: #573ccb; border: 1px solid #573ccb; color: #fff; border-radius: 4px; font-size: 14px; border-radius: 0;">아이디 중복확인</button>-->
									</div>
									<small id="urIDError" class="text-danger" style="display: none; margin: -20px 0 20px 0;">아이디를 입력해주세요.</small>
									<small id="urIDSuce" class="text-success" style="display: none; margin: -20px 0 20px 0";>닉네임을 입력해주세요.</small>
									<div class="form-group form-group--floating-label">
										<input type="password" class="form-control" id="urPassword" name="urPassword" placeholder="비밀번호 *"  maxlength="20">
										<label class="control-label" for="register-password">비밀번호 <span style="color: red;">*</span></label>
										<small id="urPasswordError" class="text-danger" style="display: none;">비밀번호를 입력해주세요.</small>
									</div>
									<div class="form-group form-group--floating-label">
										<input type="password" class="form-control" id="urPasswordCheck" name="urPasswordCheck" placeholder="비밀번호 확인 *">
										<label class="control-label" for="register-password-confirm">비밀번호 확인 <span style="color: red;">*</span></label>
										<small id="urPasswordCheckError" class="text-danger" style="display: none;">닉네임을 입력해주세요.</small>
									</div>
									<div class="form-group form-group--floating-label d-flex">
									  <div class="form-group form-group--floating-label" style="width: 30%;">
									    <select id="telecom" name="telecom" class="form-control" style="height: 50px; border-radius: 0; font-size: 12px;">
									      <option selected value="">통신사 선택</option>
									      <option th:each="list : ${@codeService.selectListCachedCode(1)}" th:value="${list.cdSeq}" th:text="${list.cdName}"></option>
									    </select>
									    <label class="control-label" for="telecom">통신사 선택 <span style="color: red;">*</span></label>
									    <small id="telecomError" class="text-danger" style="display: none;">통신사를 선택해주세요.</small>
									  </div>
									  <div style="position: relative; width: 80%; margin-left: 10px;">
									    <div class="form-group form-group--floating-label" style="margin-bottom: 0;">
									      <input type="id" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="휴대전화 *" style="height: 50px;">
									      <label class="control-label" for="register-password-confirm">휴대전화 <span style="color: red;">*</span></label>
										  <button type="button" id="btnPnCheck" class="btn btn-primary-inverse btn-lg btn-block" style="position: absolute; top: 0; right: 0; height: 100%; width: 30%; background-color: #573ccb; border: 1px solid #573ccb; color: #fff; border-radius: 4px; font-size: 14px; border-radius: 0; white-space: nowrap">휴대폰 인증</button>
									    </div>
									    <small id="phoneNumberError" class="text-danger" style="display: none; position: absolute; left: 0;">휴대전화를 입력해주세요.</small>
									  </div>
									</div>		
									<div class="form-group form-group--floating-label d-flex">
										<!-- 휴대전화 입력 -->
										<div class="form-group form-group--floating-label" style="position: relative; width: 80%; margin-right: 10px; margin-top: -20px;">
											<input type="id" class="form-control" id="emailID" name="emailID" placeholder="휴대전화 *" style="height: 50px;">
											<label class="control-label" for="register-password-confirm">이메일 ID <span style="color: red;">*</span></label>
											<small id="emailIDError" class="text-danger" style="display: none;">닉네임을 입력해주세요.</small>
										</div>

										<!-- 통신사 선택 -->
										<div class="form-group form-group--floating-label" style="width: 30%; margin-top: -20px;">
											<select name="email" id="email" class="form-control" style="height: 50px; border-radius: 0; font-size: 12px;">
												<option selected value="">이메일 선택</option>
												<option th:each="list : ${@codeService.selectListCachedCode(11)}" th:value="${list.cdSeq}" th:text="${list.cdNameEng}"></option>
											</select>
											<small id="emailError" class="text-danger" style="display: none;">닉네임을 입력해주세요.</small>
											<label class="control-label" for="email">이메일 선택 <span style="color: red;">*</span></label>
										</div>
									</div>
									<div class="form-group form-group--floating-label" style="margin-top: -20px; position: relative;">
									    <input type="text" class="form-control" id="urPostNumber" name="urPostNumber" placeholder="우편번호 *" maxlength="15" readonly>
									    <label class="control-label" for="urPostNumber">우편번호 <span style="color: red;">*</span></label>
									    <button type="button" onclick="sample3_execDaumPostcode()" id="btnPostCheck" class="btn btn-primary-inverse btn-lg btn-block" style="position: absolute; top: 0; right: 0; height: 52px; width: 30%; background-color: #573ccb; border: 1px solid #573ccb; color: #fff; border-radius: 4px; font-size: 14px; border-radius: 0; white-space: nowrap;">우편번호 확인</button>
									    <small id="urPostNumberError" class="text-danger" style="display: none;">우편번호를 입력해주세요.</small>
									</div>
									<div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
										<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
									</div>
									<div class="form-group form-group--floating-label" style="position: relative;">
									    <input type="text" class="form-control" id="urAddress" name="urAddress" placeholder="주소 *" readonly>
									    <label class="control-label" for="urAddress">주소 <span style="color: red;">*</span></label>
									    <small id="urAddressError" class="text-danger" style="display: none;">주소를 입력해주세요.</small>
									</div>
									<div id="map" style="width:300px;height:300px;margin-top:10px;display:none;"></div>
									<div class="form-group form-group--floating-label">
										<input type="text" class="form-control" id="urDetailAddress" name="urDetailAddress" placeholder="비밀번호 확인 *">
										<label class="control-label" for="urDetailAddress">상세 주소 <span style="color: red;">*</span></label>
									</div>
									<div class="form-group form-group--sm" style="margin-top: 10px;">
										<button href="button" class="btn btn-primary-inverse btn-lg btn-block" id="btnSave">회원가입</button>
										<a href="/mainHof" class="btn btn-danger btn-lg btn-block">가입 취소</a>
									</div>
									<p class="mb-0 font-size-sm">You will receive a confirmation email in your inbox with a link to activate your account!</p>									
									<input type="hidden" id="isIdChecked" value="false">
									<input type="hidden" id="isNicknameChecked" value="false">
								</form>
								
								<!-- Register Form / End -->
		
							</div>
						</div>
						<!-- Register / End -->
					</div>
		
				</div>
			</div>
			<div th:replace="~{hof/include/hofModal :: modal}"></div>
		</div>
		<!-- Content / End -->		
		<div th:replace="~{hof/include/hofFooter :: footer}"></div>		

	<!-- Javascript Files
	================================================== -->
	<!-- Core JS -->
	<script src="/xdm/jquery/jquery-3.7.1.min.js"></script>
	<script src="/hof/template/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/hof/template/assets/vendor/jquery/jquery-migrate.min.js"></script>
	<script src="/hof/template/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/hof/template/assets/vendor/swiper/js/swiper-bundle.min.js"></script>
	<script src="/hof/template/assets/js/core.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
	<script>
		jQuery.datetimepicker.setLocale('ko');

		jQuery('#urBirth').datetimepicker({
			lang: 'ko',              // 언어 설정
			timepicker: false,       // 시간 선택 끄기
			format: 'Y-m-d',         // 날짜 포맷 (2024-04-07 식)
			yearStart: 1900,         // 연도 시작
			maxDate: 0,
			scrollInput: false,
			closeOnDateSelect: true  // 날짜 선택하면 닫힘
		});
	</script>
	
	
	<!-- Vendor JS -->
	
	<!-- Template JS -->
	<script src="/hof/template/assets/js/init.js"></script>
	<script src="/hof/template/assets/js/custom.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3ea77320e4a8b54e15aa47ed240f05de&libraries=services"></script>
	<script src="/hof/template/assets/js/hofRegister.js"></script>
	

</body>
</html>
