<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{hof/include/hofHead :: head}"></div>

		<!-- Page Heading
		================================================== -->
		<div class="page-heading page-heading--horizontal page-heading--title-highlight">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-6">
						<div class="page-heading__inner page-heading__inner--highlight">
							<h1 class="page-heading__title">탈퇴하기</h1>
						</div>
					</div>
					<div class="col-6">
						<div class="page-heading__inner ml-auto">
							<ol class="page-heading__breadcrumb breadcrumb">
								<li class="breadcrumb-item"><a href="_hockey_index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">탈퇴하기</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
		
		
		<!-- Content
		================================================== -->
		<div class="site-content">
			<div class="container">
						<!-- Account Settings -->
						<div class="card">
							<div class="card__header">
								<h4>감사했습니다!</h4>
							</div>
							<div class="card__content">
								 <h4>Thank you!</h4>
								<p>지금까지 서비스를 이용해주셔서 감사합니다</p>	
							</div>
							<div class="text-center">
								<a href="/mainHof"><button class="btn btn-md btn-primary-inverse" style="width: 200px; margin-bottom: 20px;">돌아가기</button></a>
							</div>
						</div>
					</div>
						<!-- Account Settings / End -->
		
			</div>
		</div>
		<!-- Content / End -->


		<div th:replace="~{hof/include/hofFooter :: footer}"></div>
		<div th:replace="~{hof/include/hofJs :: js}"></div>

</body>
</html>
