<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">

	<!-- Footer
	================================================== -->
	<footer id="footer" class="footer">
	
		<!-- Widget: Instagram Section -->
		<aside class="widget widget-instagram">
			<div class="widget__content">
				<ul id="instagram-feed-section" class="widget-instagram__list widget-instagram__list-section widget-instagram__list-section--skewed">
					<li class="widget-instagram__item">
						<a href="#" class="widget-instagram__link-wrapper" target="_blank">
							<span class="widget-instagram__plus-sign">
								<img src="/hof/template/assets/images/baseball/samples/instagram-img-1.jpg" class="widget-instagram__img" alt="Image 1" />
							</span>
						</a>
					</li>
					<li class="widget-instagram__item">
						<a href="#" class="widget-instagram__link-wrapper" target="_blank">
							<span class="widget-instagram__plus-sign">
								<img src="/hof/template/assets/images/baseball/samples/instagram-img-2.jpg" class="widget-instagram__img" alt="Image 2" />
							</span>
						</a>
					</li>
					<li class="widget-instagram__item">
						<a href="#" class="widget-instagram__link-wrapper" target="_blank">
							<span class="widget-instagram__plus-sign">
								<img src="/hof/template/assets/images/baseball/samples/instagram-img-3.jpg" class="widget-instagram__img" alt="Image 3" />
							</span>
						</a>
					</li>
					<li class="widget-instagram__item">
						<a href="#" class="widget-instagram__link-wrapper" target="_blank">
							<span class="widget-instagram__plus-sign">
								<img src="/hof/template/assets/images/baseball/samples/instagram-img-4.jpg" class="widget-instagram__img" alt="Image 4" />
							</span>
						</a>
					</li>
					<li class="widget-instagram__item">
						<a href="#" class="widget-instagram__link-wrapper" target="_blank">
							<span class="widget-instagram__plus-sign">
								<img src="/hof/template/assets/images/baseball/samples/instagram-img-5.jpg" class="widget-instagram__img" alt="Image 5" />
							</span>
						</a>
					</li>
					<li class="widget-instagram__item">
						<a href="#" class="widget-instagram__link-wrapper" target="_blank">
							<span class="widget-instagram__plus-sign">
								<img src="/hof/template/assets/images/baseball/samples/instagram-img-6.jpg" class="widget-instagram__img" alt="Image 6" />
							</span>
						</a>
					</li>
					<li class="widget-instagram__item widget-instagram__item--logo">
						<a href="_hockey_index.html"><img src="/hof/template/assets/images/baseball/logo-footer.png" srcset="/hof/template/assets/images/baseball/logo-footer@2x.png 2x" alt="Alchemists" class="widget-instagram__item__logo"></a>
					</li>
				</ul>
			</div>
		</aside>
		<!-- Widget: Instagram Section / End -->
	
		<!-- Footer Widgets -->
		<div class="footer-widgets">
			<div class="footer-widgets__inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<!-- Widget: Links -->
							<aside class="widget widget--footer widget_nav_menu">
								<h4 class="widget__title">Alchemists Links</h4>
								<div class="widget__content">
									<div class="row">
										<div class="col">
											<ul class="widget__list">
												<li><a href="_hockey_index.html">Homepage v1</a></li>
												<li><a href="_hockey_index-2.html">Homepage v2</a></li>
												<li><a href="_hockey_blog-1.html">News Page v1</a></li>
												<li><a href="_hockey_blog-2.html">News Page v2</a></li>
												<li><a href="_hockey_blog-3.html">News Page v3</a></li>
												<li><a href="_hockey_blog-post-1.html">Post Page v1</a></li>
												<li><a href="_hockey_blog-post-2.html">Post Page v2</a></li>
												<li><a href="_hockey_blog-post-3.html">Post Page v3</a></li>
											</ul>
										</div>
										<div class="col">
											<ul class="widget__list">
												<li><a href="_hockey_event-calendar.html">Scores Calendar</a></li>
												<li><a href="_hockey_features-tickets.html">Buy Tickets</a></li>
												<li><a href="_hockey_blog-post-video.html">Video Player</a></li>
												<li><a href="_hockey_page-event.html">Event Page</a></li>
												<li><a href="_hockey_page-contacts.html">Contact Page</a></li>
												<li><a href="_hockey_features-search-results.html">Search Results</a></li>
												<li><a href="_hockey_features-shortcodes.html">Shortcodes</a></li>
												<li><a href="_hockey_shop-login.html">Login / Register</a></li>
											</ul>
										</div>
									</div>
								</div>
							</aside>
							<!-- Widget: Links / End -->
						</div>
						<div class="col-lg-2">
							<!-- Widget: Links -->
							<aside class="widget widget--footer widget_nav_menu">
								<h4 class="widget__title">Team Pages</h4>
								<div class="widget__content">
									<ul class="widget__list">
										<li><a href="_hockey_team-overview.html">Overview</a></li>
										<li><a href="_hockey_team-roster.html">Roster</a></li>
										<li><a href="_hockey_team-standings.html">Standings</a></li>
										<li><a href="_hockey_team-last-results.html">Latest Results</a></li>
										<li><a href="_hockey_team-schedule.html">Schedule</a></li>
										<li><a href="_hockey_team-gallery.html">Gallery</a></li>
									</ul>
								</div>
							</aside>
							<!-- Widget: Links / End -->
						</div>
						<div class="col-lg-2">
							<!-- Widget: Links -->
							<aside class="widget widget--footer widget_nav_menu">
								<h4 class="widget__title">Player Pages</h4>
								<div class="widget__content">
									<ul class="widget__list">
										<li><a href="_hockey_player-overview.html">Overview</a></li>
										<li><a href="_hockey_player-stats.html">Career Stats</a></li>
										<li><a href="_hockey_player-gameslog.html">Games Log</a></li>
										<li><a href="_hockey_player-awards.html">Awards</a></li>
										<li><a href="_hockey_player-bio-news.html">Bio and News</a></li>
										<li><a href="_hockey_player-gallery.html">Gallery</a></li>
									</ul>
								</div>
							</aside>
							<!-- Widget: Links / End -->
						</div>
						<div class="col-lg-2">
							<!-- Widget: Links -->
							<aside class="widget widget--footer widget_nav_menu">
								<h4 class="widget__title">Match Full Stats</h4>
								<div class="widget__content">
									<ul class="widget__list">
										<li><a href="_hockey_event-overview.html">Overview</a></li>
										<li><a href="_hockey_event-box-score.html">Box Score</a></li>
										<li><a href="_hockey_event-play-by-play.html">Play-by-Play</a></li>
										<li><a href="_hockey_event-team-stats.html">Team Stats</a></li>
										<li><a href="_hockey_event-news-recap.html">News Recap</a></li>
										<li><a href="_hockey_event-videos.html">Videos</a></li>
									</ul>
								</div>
							</aside>
							<!-- Widget: Links / End -->
						</div>
						<div class="col-lg-2">
							<!-- Widget: Links -->
							<aside class="widget widget--footer widget_nav_menu">
								<h4 class="widget__title">The Shop</h4>
								<div class="widget__content">
									<ul class="widget__list">
										<li><a href="_hockey_shop-grid-fullwidth.html">Main Shop</a></li>
										<li><a href="_hockey_shop-grid-sidebar.html">Shop + Sidebar Grid</a></li>
										<li><a href="_hockey_shop-list-sidebar.html">Shop + Sidebar List</a></li>
										<li><a href="_hockey_shop-product.html">Product Page</a></li>
										<li><a href="_hockey_shop-cart.html">Shopping Cart</a></li>
										<li><a href="_hockey_shop-checkout.html">Checkout</a></li>
										<li><a href="_hockey_shop-wishlist.html">Wishlist</a></li>
										<li><a href="_hockey_shop-account.html">Your Account</a></li>
									</ul>
								</div>
							</aside>
							<!-- Widget: Links / End -->
						</div>
					</div>
				</div>
			</div>
	
		</div>
		<!-- Footer Widgets / End -->
	
		<!-- Footer Secondary -->
		<div class="footer-secondary">
			<div class="container">
				<div class="footer-secondary__inner">
					<div class="row">
						<div class="col-lg-6">
							<!-- Social Links -->
							<ul class="social-links social-links--btn social-links--btn-plus">
								<li class="social-links__item">
									<a href="#" class="social-links__link social-links__link--facebook">
										<i class="fab fa-facebook"></i>
										<span class="social-links__label">Facebook</span>
										<span class="social-links__icon"><i class="fas fa-plus"></i></span>
									</a>
								</li>
								<li class="social-links__item">
									<a href="#" class="social-links__link social-links__link--twitter">
										<i class="fab fa-twitter"></i>
										<span class="social-links__label">Twitter</span>
										<span class="social-links__icon"><i class="fas fa-plus"></i></span>
									</a>
								</li>
								<li class="social-links__item">
									<a href="#" class="social-links__link social-links__link--instagram">
										<i class="fab fa-instagram"></i>
										<span class="social-links__label">Instagram</span>
										<span class="social-links__icon"><i class="fas fa-plus"></i></span>
									</a>
								</li>
							</ul>
							<!-- Social Links / End -->
						</div>
						<div class="col-lg-6">
							<!-- Sponsors -->
							<div class="sponsors-slider">
								<h6 class="sponsors-slider__title">Our Sponsors:</h6>
								<div class="sponsors-slider__items">
									<!-- Slider main container -->
									<div class="swiper sponsors-slider__container js-alc-sponsors-slider">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<a href="#"><img src="assets/images/hockey/sponsor-logo-1.png" alt="HTML5"></a>
											</div>
											<div class="swiper-slide">
												<a href="#"><img src="assets/images/hockey/sponsor-logo-2.png" alt="Google Fonts"></a>
											</div>
											<div class="swiper-slide">
												<a href="#"><img src="assets/images/hockey/sponsor-logo-3.png" alt="SportsPress"></a>
											</div>
											<div class="swiper-slide">
												<a href="#"><img src="assets/images/hockey/sponsor-logo-4.png" alt="Envato"></a>
											</div>
										</div>
									</div>
									<!-- Slider main container / End -->
									<!-- Slider navigation -->
									<div class="js-alc-sponsors-slider__button-prev swiper-button-prev swiper-button--xs swiper-button--fa"></div>
									<div class="js-alc-sponsors-slider__button-next swiper-button-next swiper-button--xs swiper-button--fa"></div>
									<!-- Slider navigation / End -->
								</div>
							</div>
							<!-- Sponsors / End -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Secondary / End -->
	</footer>
	<!-- Footer / End -->

</div>

</th:block>
