<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="js">
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->

<!-- Core JS -->
<script src="/hof/template/assets/vendor/jquery/jquery.min.js"></script>
<script src="/hof/template/assets/vendor/jquery/jquery-migrate.min.js"></script>
<script src="/hof/template/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/hof/template/assets/vendor/swiper/js/swiper-bundle.min.js"></script>
<script src="/hof/template/assets/js/core.js"></script>

<!-- Vendor JS -->

<!-- Template JS -->
<script src="/hof/template/assets/js/init.js"></script>
<!--<script src="/hof/template/assets/js/custom.js"></script>-->
<script src="/hof/template/assets/js/hoflogout.js"></script>

</th:block>