<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.angels.module.codegroup.CodeGroupDao">

<resultMap id="resultMapObj" type="com.angels.module.codegroup.CodeGroupDto"></resultMap>
	
  	<select id="selectList" resultMap="resultMapObj">
		select
			cgSeq,
			cgUse,
		    cgCode,
		    cgName,
		    cgCount,
		    cgOrder,
		    cgRegDate,
		    cgEdDate
		from
			codegroup 
			
		where 1=1 
		order by cgSeq desc
		limit #{rowNumToShow} offset #{startRnumForMysql}
		
	</select>
	
	
		<insert id= "insert">
		INSERT INTO codegroup (
			cgUse,
		    cgName,
		    cgCount,
		    cgOrder
		    
			) values (
				#{cgUse},
				#{cgName},
				#{cgCount},
				#{cgOrder}
			)
		<selectKey resultType= "String" keyProperty="cgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOneCount" resultType="Integer">
	
	Select count(*)
	from codegroup
	
	</select>
	
</mapper>