<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.angels.module.code.CodeDao">

<resultMap id="resultMapObj" type="com.angels.module.code.CodeDto"></resultMap>

	<sql id="selectCommon">
			FROM
		    code c
		left JOIN codegroup cg ON c.codeGroup_cgSeq = cg.cgSeq
		WHERE
		    1=1
		    
		<if test="shUseNy != null and !shUseNy.equals('')">AND c.cdUse = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND c.cdDelNy = #{shDelNy}</if>
<!-- 				
			<choose>
				<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
-->				
        <choose>
            <when test="shOption == 1">AND c.cdSeq = #{shValue}</when>
            <when test="shOption == 2">AND c.cdName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND c.cdNameEng LIKE CONCAT('%',#{shValue},'%')</when>
        </choose> 
	</sql>
	
  	<select id="selectList" resultMap="resultMapObj">
		SELECT
		
		    c.codeGroup_cgSeq,
		    c.cdUse,
			cg.cgName,
		    c.cdSeq,
		    c.cdName,
		    c.cdNameEng,
		    c.cdOrder,
		    c.cdRegDate,
		    c.cdEdDate,
		    c.cdCheck,
		    c.cdDelNy
		    
<include refid="selectCommon"></include>
		ORDER BY
		    c.cdSeq DESC		    
		limit #{rowNumToShow} offset #{startRnumForMysql}
		
	</select>
	
	<select id="listCodeGroup" resultMap="resultMapObj">
		SELECT
		 l.cgSeq,
		 l.cgName
		 	from
		 	codeGroup as l
		 	where 1=1
	</select>
	

	<insert id="insert">
	INSERT INTO code (
		cdUse,
		cdName,
		cdNameEng,
		cdOrder,
		codeGroup_cgSeq,	
		cdRegDate,
		cdDelNy
		
		
	) values (
		#{cdUse},
		#{cdName},
		#{cdNameEng},
		#{cdOrder},
		#{codeGroup_cgSeq},
		NOW(),
		0
	)
	
	<selectKey resultType="String" keyProperty="cdSeq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
	
	<select id="selectOneCount" resultType="Integer">
	
	Select count(*)
<include refid="selectCommon"></include>

	</select>
		<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			cdSeq,
			cdName,
			codeGroup_cgSeq
		FROM
			code
		WHERE 1=1
			AND cdDelNy = 0
   </select>
   
   <select id="selectOne" resultMap="resultMapObj">
   		SELECT	
		    c.codeGroup_cgSeq,
		    c.cdUse,
			cg.cgName,
		    c.cdSeq,
		    c.cdName,
		    c.cdNameEng,
		    c.cdOrder,
		    c.cdRegDate,
		    c.cdEdDate,
		    c.cdCheck,
		    c.cdDelNy
		    	from
		    	code c
		    	left JOIN codegroup cg ON c.codeGroup_cgSeq = cg.cgSeq
		    	where 1=1
		    AND c.cdSeq = #{cdSeq}
   </select>
	
	<update id="update">
	update code set
		cdUse = #{cdUse},
		cdName = #{cdName},
		cdNameEng = #{cdNameEng},
		cdOrder = #{cdOrder},
		codeGroup_cgSeq = #{codeGroup_cgSeq},
		cdEdDate = now()
	where
		cdSeq = #{cdSeq}
	
	</update>
	
	<delete id="uelete">
	Update code set
		cdDelNy = 1
	where cdSeq = #{cdSeq}
	</delete>
	
	<delete id="delete">
	delete from code
	where cdSeq = #{cdSeq}
	</delete>
	
	
</mapper>