<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.angels.module.codegroup.CodeGroupDao">

<resultMap id="resultMapObj" type="com.angels.module.codegroup.CodeGroupDto"></resultMap>
	
	<sql id="selectCommon">
			from
			codegroup as a 		
			where 1=1 
	</sql>
	
  	<select id="selectList" resultMap="resultMapObj">
		select
			a.cgSeq,
			a.cgdelNy,
			a.cgUse,
		    a.cgName,
		    a.cgNameEng,
		    (select count(aa.cdSeq) from code aa where 1=1 and aa.cdDelNy = 0 and aa.codeGroup_cgSeq = a.cgSeq) as cdSeqCount,
		    a.cgOrder,
		    a.cgRegDate,
		    a.cgEdDate
<include refid="selectCommon"/>
		order by cgSeq desc
		limit #{rowNumToShow} offset #{startRnumForMysql}
		
	</select>
	
	
		<insert id= "insert" parameterType="com.angels.module.codegroup.CodeGroupDto">
		INSERT INTO codegroup (
			cgUse,
		    cgName,
		    cgNameEng,
		    cgOrder,
		    cgRegDate,
		    cgdelNy
		    
			) values (
				#{cgUse},
				#{cgName},
				#{cgNameEng},
				#{cgOrder},
				NOW(),
				0				
			)
		<selectKey resultType= "String" keyProperty="cgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOneCount" resultType="Integer">
	
	Select count(*)
<include refid="selectCommon"/>
	
	</select>
	
</mapper>