<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.angels.module.game.GameDao">

<resultMap id="resultMapObj" type="com.angels.module.game.GameDto"></resultMap>

<select id="selectList" resultMap="resultMapObj">
		SELECT
			g.gmSeq,
		    g.gmGuid,
		    g.gmSeason,
		    g.gmDate,
		    g.gmOfDate,
		    g.gmState,
		    g.gmDeState,
		    g.gmStatusCode,
		    g.gmDayNight,
		    g.gmScInnings,
		    g.gmIsTie,
		    g.gmSeriesDesc,
		    g.gmDoubleheader,
		    g.gmType,
		    g.gmRegTime,
		    g.gmModTime,
		    g.venue_stSeq,
		    g.homeTeam_tmSeq,
		    g.awayTeam_tmSeq,
		    v.stName,
		    v.stCity,
		    hm.tmName AS home_tmName,
		    hm.tmClubName AS home_tmClubName,
		    hm.tmAbbreviation AS home_tmAbbreviation,
		    hm.tmLogoUrl AS home_tmLogoUrl,
		    aw.tmName AS away_tmName,
		    aw.tmClubName AS away_tmClubName,
		    aw.tmAbbreviation AS away_tmAbbreviation,
		    aw.tmLogoUrl AS away_tmLogoUrl
		   FROM game g
		LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
		LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
		LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
		where 1=1
		limit #{rowNumToShow} offset #{startRnumForMysql}	
		
</select>

	<select id="selectOneCount" resultType="Integer">
	
	Select count(*)
		   FROM game g
		LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
		LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
		LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
		where 1=1
	
	</select>
	
	<insert id="insert" parameterType="com.angels.module.game.GameDto">
		INSERT INTO game (
	    gmSeq,
	    gmGuid,
	    gmSeason,
	    gmDate,
	    gmOfDate,
	    gmState,
	    gmDeState,
	    gmStatusCode,
	    gmDayNight,
	    gmScInnings,
	    gmIsTie,
	    gmSeriesDesc,
	    gmDoubleheader,
	    gmType,
	    gmRegTime,
	    gmModTime,
	    venue_stSeq,
	    homeTeam_tmSeq,
	    awayTeam_tmSeq
	) VALUES (
	    #{gmSeq},
	    #{gmGuid},
	    #{gmSeason},
	    #{gmDate},
	    #{gmOfDate},
	    #{gmState},
	    #{gmDeState},
	    #{gmStatusCode},
	    #{gmDayNight},
	    #{gmScInnings},
	    #{gmIsTie},
	    #{gmSeriesDesc},
	    #{gmDoubleheader},
	    #{gmType},
	    #{gmRegTime},
	    #{gmModTime},
	    #{venue_stSeq},       
	    #{homeTeam_tmSeq},
	    #{awayTeam_tmSeq}
	)

	</insert>
	
<select id="selectHofList" resultMap="resultMapObj">
	SELECT
		g.gmSeq,
	    g.gmGuid,
	    g.gmSeason,
	    g.gmDate,
	    g.gmOfDate,
	    g.gmState,
	    g.gmDeState,
	    g.gmStatusCode,
	    g.gmDayNight,
	    g.gmScInnings,
	    g.gmIsTie,
	    g.gmSeriesDesc,
	    g.gmDoubleheader,
	    g.gmType,
	    g.gmRegTime,
	    g.gmModTime,
	    g.venue_stSeq,
	    g.homeTeam_tmSeq,
	    g.awayTeam_tmSeq,
	    
	   	<!-- 구장 정보 -->
	    v.stName,
	    v.stCity,
	    
	    <!-- 홈팀 정보 -->
	    hm.tmName AS home_tmName,
	    hm.tmClubName AS home_tmClubName,
	    hm.tmAbbreviation AS home_tmAbbreviation,
	    hm.tmLogoUrl AS home_tmLogoUrl,
	    
	    <!-- 어웨이팀 정보 -->
	    aw.tmName AS away_tmName,
	    aw.tmClubName AS away_tmClubName,
	    aw.tmAbbreviation AS away_tmAbbreviation,
	    aw.tmLogoUrl AS away_tmLogoUrl,
	    
	    <!-- 양팀 점수 정보 -->
	    gl.glHomeRuns,
	    gl.glAwayRuns

	FROM game g
	LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
	LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
	LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
	LEFT JOIN gamelinescore gl ON g.gmSeq = gl.game_gmSeq

	WHERE DATE(g.gmDate) = #{gmDate}
	ORDER BY g.gmOfDate DESC
</select>

<insert id="insertLineScore" parameterType="com.angels.module.game.GameDto">
		INSERT INTO gamelinescore (
		
		glHomeRuns,
		glHomeHits,
		glHomeErrors,
		glHomeLob,
		glHomeWin,
		glAwayRuns,
		glAwayHits,
		glAwayErrors,
		glAwayLob,
		glAwayWin,
		glRegTime,
		glModTime,
		game_gmSeq
		
	) VALUES (
	    #{glHomeRuns},
	    #{glHomeHits},
	    #{glHomeErrors},
	    #{glHomeLob},
	    #{glHomeWin},
	    #{glAwayRuns},
	    #{glAwayHits},
	    #{glAwayErrors},
	    #{glAwayLob},
	    #{glAwayWin},
	    #{glRegTime},
	    #{glModTime},
	    #{game_gmSeq}
	)
</insert>

<select id="listInstForLineScore" resultMap="resultMapObj">
		SELECT
			g.gmSeq,
		    g.gmGuid,
		    g.gmSeason,
		    g.gmDate,
		    g.gmOfDate,
		    g.gmState,
		    g.gmDeState,
		    g.gmStatusCode,
		    g.gmDayNight,
		    g.gmScInnings,
		    g.gmIsTie,
		    g.gmSeriesDesc,
		    g.gmDoubleheader,
		    g.gmType,
		    g.gmRegTime,
		    g.gmModTime,
		    g.venue_stSeq,
		    g.homeTeam_tmSeq,
		    g.awayTeam_tmSeq,
		    v.stName,
		    v.stCity,
		    hm.tmName AS home_tmName,
		    hm.tmClubName AS home_tmClubName,
		    hm.tmAbbreviation AS home_tmAbbreviation,
		    hm.tmLogoUrl AS home_tmLogoUrl,
		    aw.tmName AS away_tmName,
		    aw.tmClubName AS away_tmClubName,
		    aw.tmAbbreviation AS away_tmAbbreviation,
		    aw.tmLogoUrl AS away_tmLogoUrl
		   FROM game g
		LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
		LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
		LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
		where 1=1
		
</select>

<insert id="insertInningScore" parameterType="com.angels.module.game.GameDto">
		INSERT INTO gameInning (
		
		giSeq,
		giInning,
		giHomeScore,
		giAwayScore,
		giRegTime,
		giModTime,
		game_gmSeq
		
	) VALUES (
	    #{giSeq},
	    #{giInning},
	    #{giHomeScore},
	    #{giAwayScore},
	    #{giRegTime},
	    #{giModTime},
	    #{game_gmSeq}
	)
</insert>

<select id="selectHofScoreList" resultMap="resultMapObj">
	SELECT
		g.gmSeq,
		g.gmGuid,
		g.gmSeason,
		g.gmDate,
		g.gmOfDate,
		g.gmState,
		g.gmDeState,
		g.gmStatusCode,
		g.gmDayNight,
		g.gmScInnings,
		g.gmIsTie,
		g.gmSeriesDesc,
		g.gmDoubleheader,
		g.gmType,
		g.gmRegTime,
		g.gmModTime,
		g.venue_stSeq,
		g.homeTeam_tmSeq,
		g.awayTeam_tmSeq,

		v.stName,
		v.stCity,
		
		gl.glHomeRuns,
	    gl.glAwayRuns,

		hm.tmName AS home_tmName,
		hm.tmClubName AS home_tmClubName,
		hm.tmAbbreviation AS home_tmAbbreviation,
		hm.tmLogoUrl AS home_tmLogoUrl,

		aw.tmName AS away_tmName,
		aw.tmClubName AS away_tmClubName,
		aw.tmAbbreviation AS away_tmAbbreviation,
		aw.tmLogoUrl AS away_tmLogoUrl


	FROM game g
	LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
	LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
	LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
	LEFT JOIN gamelinescore gl ON g.gmSeq = gl.game_gmSeq
	<!-- LEFT JOIN gameInning gi ON g.gmSeq = gi.game_gmSeq -->

	WHERE DATE(g.gmDate) = #{gmDate}
	ORDER BY g.gmOfDate DESC, g.gmSeq DESC
	
	<!-- , gi.giInning ASC -->
</select>

<select id="selectInningByGameSeq" resultMap="resultMapObj">

    SELECT 	
 		giSeq, 
 		game_gmSeq, 
 		giInning, 
 		giHomeScore, 
 		giAwayScore, 
 		giRegTime, 
 		giModTime
    FROM gameInning
    LEFT JOIN game g ON game_gmSeq = g.gmSeq
	WHERE DATE(g.gmDate) = #{gmDate}
    ORDER BY game_gmSeq DESC, giSeq ASC
    
</select>

<select id="selectOneHofScore" resultMap="resultMapObj">
	SELECT
		g.gmSeq,
		g.gmGuid,
		g.gmSeason,
		g.gmDate,
		g.gmOfDate,
		g.gmState,
		g.gmDeState,
		g.gmStatusCode,
		g.gmDayNight,
		g.gmScInnings,
		g.gmIsTie,
		g.gmSeriesDesc,
		g.gmDoubleheader,
		g.gmType,
		g.gmRegTime,
		g.gmModTime,
		g.venue_stSeq,
		g.homeTeam_tmSeq,
		g.awayTeam_tmSeq,

		v.stName,
		v.stCity,
		
		gl.glHomeRuns,
	    gl.glAwayRuns,
	    gl.glHomeHits,
	    gl.glAwayHits,
	    gl.glHomeErrors,
	    gl.glAwayErrors,
	    gl.glHomeLob,
	    gl.glAwayLob,

		hm.tmName AS home_tmName,
		hm.tmClubName AS home_tmClubName,
		hm.tmAbbreviation AS home_tmAbbreviation,
		hm.tmLogoUrl AS home_tmLogoUrl,
		hm.tmCityName AS home_tmCityName,

		aw.tmName AS away_tmName,
		aw.tmClubName AS away_tmClubName,
		aw.tmAbbreviation AS away_tmAbbreviation,
		aw.tmLogoUrl AS away_tmLogoUrl,
		aw.tmCityName AS away_tmCityName


	FROM game g
	LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
	LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
	LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
	LEFT JOIN gamelinescore gl ON g.gmSeq = gl.game_gmSeq
	<!-- LEFT JOIN gameInning gi ON g.gmSeq = gi.game_gmSeq -->

	WHERE 1=1
	AND gmSeq = #{gmSeq}
	
	<!-- , gi.giInning ASC -->
</select>

<select id="selectOneInningByGameSeq" resultMap="resultMapObj">

    SELECT 	
 		giSeq, 
 		game_gmSeq, 
 		giInning, 
 		giHomeScore, 
 		giAwayScore, 
 		giRegTime, 
 		giModTime
    FROM gameInning
    LEFT JOIN game g ON game_gmSeq = g.gmSeq
    WHERE gmSeq = #{gmSeq}  
    ORDER BY game_gmSeq DESC, giSeq ASC
    
</select>

<insert id="insertBoxScore" parameterType="com.angels.module.game.GameDto">
		INSERT INTO gameBoxscore (
		
		gbRuns,
		gbHits,
		gbErrors,
		gbLob,
		gbDp,
		gbTrip,
		gbAvg,
		gbObp,
		gbSlg,
		gbOps,
		gbSteal,
		gbCauSteal,
		gbSacBun,
		gbSacFly,
		gbRbi,
		gbRegTime,
		gbModTime,
		game_gmSeq,
		team_tmSeq
		
	) VALUES (
	    #{gbRuns},
	    #{gbHits},
	    #{gbErrors},
	    #{gbLob},
	    #{gbDp},
	    #{gbTrip},
	    #{gbAvg},
	    #{gbObp},
	    #{gbSlg},
	    #{gbOps},
	    #{gbSteal},
	    #{gbCauSteal},
	    #{gbSacBun},
	    #{gbSacFly},
	    #{gbRbi},
	    #{gbRegTime},
	    #{gbModTime},
	    #{game_gmSeq},
	    #{team_tmSeq}
	)
</insert>

<insert id="insertGameMeta" parameterType="com.angels.module.game.GameDto">
		INSERT INTO gameMeta (
		
		gtAttendance,
		gtWeather,
		gtWind,
		gtUmpireHome,
		gtUmpireFirst,
		gtUmpireSecond,
		gtUmpireThird,
		gtUmpireLeft,
		gtUmpireRight,
		gtRegTime,
		gtModTime,
		game_gmSeq,
		venue_stSeq
		
	) VALUES (
	    #{gtAttendance},
	    #{gtWeather},
	    #{gtWind},
	    #{gtUmpireHome},
	    #{gtUmpireFirst},
	    #{gtUmpireSecond},
	    #{gtUmpireThird},
	    #{gtUmpireLeft},
	    #{gtUmpireRight},
	    #{gtRegTime},
	    #{gtModTime},
	    #{game_gmSeq},
	    #{venue_stSeq}
	)
</insert>

<insert id="insertPlayerBatting" parameterType="com.angels.module.game.GameDto">
		INSERT INTO playerBatting (
		
		pbIsStarter,
		pbBattingOrder,
		pbAb,
		pbRuns,
		pbHits,
		pbRbi,
		pbBb,
		pbSo,
		pbHomerun,
		pbDouble,
		pbTriple,
		pbSteal,
		pbCauSteal,
		pbSacBunt,
		pbSacFly,
		pbAvg,
		pbRegTime,
		pbModTime,
		game_gmSeq,
		team_tmSeq,
		player_pySeq
		
	) VALUES (
	    #{pbIsStarter},
	    #{pbBattingOrder},
	    #{pbAb},
	    #{pbRuns},
	    #{pbHits},
	    #{pbRbi},
	    #{pbBb},
	    #{pbSo},
	    #{pbHomerun},
	    #{pbDouble},
	    #{pbTriple},
	    #{pbSteal},
	    #{pbCauSteal},
	    #{pbSacBunt},
	    #{pbSacFly},
		#{pbAvg},
	    #{pbRegTime},
	    #{pbModTime},
	    #{game_gmSeq},
	    #{team_tmSeq},
	    #{player_pySeq}
	)
</insert>

<insert id="insertPlayerPitching" parameterType="com.angels.module.game.GameDto">
		INSERT INTO playerPitching (
		
		ppIsStarter,
		ppIp,
		ppHit,
		ppRun,
		pbHits,
		pbRbi,
		pbBb,
		pbSo,
		pbHomerun,
		pbDouble,
		pbTriple,
		pbSteal,
		pbCauSteal,
		pbSacBunt,
		pbSacFly,
		pbRegTime,
		pbModTime,
		game_gmSeq,
		team_tmSeq,
		player_pySeq
		
	) VALUES (
	    #{pbIsStarter},
	    #{pbBattingOrder},
	    #{pbAb},
	    #{pbRuns},
	    #{pbHits},
	    #{pbRbi},
	    #{pbBb},
	    #{pbSo},
	    #{pbHomerun},
	    #{pbDouble},
	    #{pbTriple},
	    #{pbSteal},
	    #{pbCauSteal},
	    #{pbSacBunt},
	    #{pbSacFly},
	    #{pbRegTime},
	    #{pbModTime},
	    #{game_gmSeq},
	    #{team_tmSeq},
	    #{player_pySeq}
	)
</insert>

<insert id="insertPlayerDefense" parameterType="com.angels.module.game.GameDto">
		INSERT INTO playerDefense (
				
		pdPosition,
		pdError

		
	) VALUES (
	    #{pdPosition},
	    #{pdError}
	)
</insert>

<insert id="insertPitchingResult" parameterType="com.angels.module.game.GameDto">
		INSERT INTO pitchingResult (
		
		prResult,
		prRegTime,
		prModTime

		
	) VALUES (
	    #{prResult},
	    #{prRegTime},
	    #{prModTime}
	)
</insert>

<insert id="insertPlayerSub" parameterType="com.angels.module.game.GameDto">
		INSERT INTO playerSub (
		
		psPosition,
		psInning,
		psBattingOrder,
		psSubType,
		psRegTime,
		psModTime,
		playerOut_pySeq,
		playerIn_pySeq

		
	) VALUES (
	    #{psPosition},
	    #{psInning},
	    #{psBattingOrder},
	    #{psSubType},
	    #{psRegTime},
	    #{psModTime},
	    #{playerOut_pySeq},
	    #{playerIn_pySeq}
	)
</insert>


</mapper>