<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.angels.module.game.GameDao">

<resultMap id="resultMapObj" type="com.angels.module.game.GameDto"></resultMap>

<select id="selectList" resultMap="resultMapObj">
		SELECT
			g.gmSeq,
		    g.gmGuid,
		    g.gmSeason,
		    g.gmDate,
		    g.gmOfDate,
		    g.gmState,
		    g.gmDeState,
		    g.gmStatusCode,
		    g.gmDayNight,
		    g.gmScInnings,
		    g.gmIsTie,
		    g.gmSeriesDesc,
		    g.gmDoubleheader,
		    g.gmType,
		    g.gmRegTime,
		    g.gmModTime,
		    g.venue_stSeq,
		    g.homeTeam_tmSeq,
		    g.awayTeam_tmSeq,
		    v.stName,
		    v.stCity,
		    hm.tmName AS home_tmName,
		    hm.tmClubName AS home_tmClubName,
		    hm.tmAbbreviation AS home_tmAbbreviation,
		    hm.tmLogoUrl AS home_tmLogoUrl,
		    aw.tmName AS away_tmName,
		    aw.tmClubName AS away_tmClubName,
		    aw.tmAbbreviation AS away_tmAbbreviation,
		    aw.tmLogoUrl AS away_tmLogoUrl
		   FROM game g
		LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
		LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
		LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
		where 1=1
		limit #{rowNumToShow} offset #{startRnumForMysql}	
		
</select>

	<select id="selectOneCount" resultType="Integer">
	
	Select count(*)
		   FROM game g
		LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
		LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
		LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
		where 1=1
	
	</select>
	
	<insert id="insert" parameterType="com.angels.module.game.GameDto">
		INSERT INTO game (
	    gmSeq,
	    gmGuid,
	    gmSeason,
	    gmDate,
	    gmOfDate,
	    gmState,
	    gmDeState,
	    gmStatusCode,
	    gmDayNight,
	    gmScInnings,
	    gmIsTie,
	    gmSeriesDesc,
	    gmDoubleheader,
	    gmType,
	    gmRegTime,
	    gmModTime,
	    venue_stSeq,
	    homeTeam_tmSeq,
	    awayTeam_tmSeq
	) VALUES (
	    #{gmSeq},
	    #{gmGuid},
	    #{gmSeason},
	    #{gmDate},
	    #{gmOfDate},
	    #{gmState},
	    #{gmDeState},
	    #{gmStatusCode},
	    #{gmDayNight},
	    #{gmScInnings},
	    #{gmIsTie},
	    #{gmSeriesDesc},
	    #{gmDoubleheader},
	    #{gmType},
	    #{gmRegTime},
	    #{gmModTime},
	    #{venue_stSeq},       
	    #{homeTeam_tmSeq},
	    #{awayTeam_tmSeq}
	)

	</insert>
	
<!-- <select id="selectHofList" resultMap="resultMapObj">
	SELECT
		g.gmSeq,
	    g.gmGuid,
	    g.gmSeason,
	    g.gmDate,
	    g.gmOfDate,
	    g.gmState,
	    g.gmDeState,
	    g.gmStatusCode,
	    g.gmDayNight,
	    g.gmScInnings,
	    g.gmIsTie,
	    g.gmSeriesDesc,
	    g.gmDoubleheader,
	    g.gmType,
	    g.gmRegTime,
	    g.gmModTime,
	    g.venue_stSeq,
	    g.homeTeam_tmSeq,
	    g.awayTeam_tmSeq,
	    
	    구장 정보
	    v.stName,
	    v.stCity,
	    
	    홈팀 정보
	    hm.tmName AS home_tmName,
	    hm.tmClubName AS home_tmClubName,
	    hm.tmAbbreviation AS home_tmAbbreviation,
	    hm.tmLogoUrl AS home_tmLogoUrl,
	    
	    어웨이팀 정보
	    aw.tmName AS away_tmName,
	    aw.tmClubName AS away_tmClubName,
	    aw.tmAbbreviation AS away_tmAbbreviation,
	    aw.tmLogoUrl AS away_tmLogoUrl,
	    
	    양팀 점수 정보
	    gl.glHomeRuns,
	    gl.glAwayRuns

	FROM game g
	LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
	LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
	LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
	LEFT JOIN gamelinescore gl ON g.gmSeq = gl.game_gmSeq

	WHERE DATE(g.gmDate) = #{gmDate}
	ORDER BY g.gmOfDate DESC
</select> -->

<select id="selectHofList" resultMap="resultMapObj">
	SELECT
		g.gmSeq,
	    g.gmGuid,
	    g.gmSeason,
	    g.gmDate,
	    g.gmOfDate,
	    g.gmState,
	    g.gmDeState,
	    g.gmStatusCode,
	    g.gmDayNight,
	    g.gmScInnings,
	    g.gmIsTie,
	    g.gmSeriesDesc,
	    g.gmDoubleheader,
	    g.gmType,
	    g.gmRegTime,
	    g.gmModTime,
	    g.venue_stSeq,
	    g.homeTeam_tmSeq,
	    g.awayTeam_tmSeq,

	    -- 구장 정보
	    v.stName,
	    v.stCity,

	    -- 홈팀 정보
	    hm.tmName AS home_tmName,
	    hm.tmClubName AS home_tmClubName,
	    hm.tmAbbreviation AS home_tmAbbreviation,
	    hm.tmLogoUrl AS home_tmLogoUrl,

	    -- 어웨이팀 정보
	    aw.tmName AS away_tmName,
	    aw.tmClubName AS away_tmClubName,
	    aw.tmAbbreviation AS away_tmAbbreviation,
	    aw.tmLogoUrl AS away_tmLogoUrl,

	    -- 라인스코어 정보
	    gl.glHomeRuns,
	    gl.glAwayRuns,

	    -- 이닝 점수 정보
	    gi.giInning,
	    gi.giHomeScore,
	    gi.giAwayScore

	FROM game g
	LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
	LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
	LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
	LEFT JOIN gamelinescore gl ON g.gmSeq = gl.game_gmSeq
	LEFT JOIN gameInning gi ON g.gmSeq = gi.game_gmSeq

	<!-- WHERE DATE(g.gmDate) = #{gmDate} -->
	ORDER BY g.gmOfDate DESC, gi.giInning
</select>


<select id="selectInningByGameSeq" resultMap="resultMapObj">
    SELECT
        giInning,
        giHomeScore,
        giAwayScore
    FROM gameInning
    WHERE game_gmSeq = #{gmSeq}
    ORDER BY giInning

</select>


<insert id="insertLineScore" parameterType="com.angels.module.game.GameDto">
		INSERT INTO gamelinescore (
		
		glHomeRuns,
		glHomeHits,
		glHomeErrors,
		glHomeLob,
		glHomeWin,
		glAwayRuns,
		glAwayHits,
		glAwayErrors,
		glAwayLob,
		glAwayWin,
		glRegTime,
		glModTime,
		game_gmSeq
		
	) VALUES (
	    #{glHomeRuns},
	    #{glHomeHits},
	    #{glHomeErrors},
	    #{glHomeLob},
	    #{glHomeWin},
	    #{glAwayRuns},
	    #{glAwayHits},
	    #{glAwayErrors},
	    #{glAwayLob},
	    #{glAwayWin},
	    #{glRegTime},
	    #{glModTime},
	    #{game_gmSeq}
	)
</insert>

<select id="listInstForLineScore" resultMap="resultMapObj">
		SELECT
			g.gmSeq,
		    g.gmGuid,
		    g.gmSeason,
		    g.gmDate,
		    g.gmOfDate,
		    g.gmState,
		    g.gmDeState,
		    g.gmStatusCode,
		    g.gmDayNight,
		    g.gmScInnings,
		    g.gmIsTie,
		    g.gmSeriesDesc,
		    g.gmDoubleheader,
		    g.gmType,
		    g.gmRegTime,
		    g.gmModTime,
		    g.venue_stSeq,
		    g.homeTeam_tmSeq,
		    g.awayTeam_tmSeq,
		    v.stName,
		    v.stCity,
		    hm.tmName AS home_tmName,
		    hm.tmClubName AS home_tmClubName,
		    hm.tmAbbreviation AS home_tmAbbreviation,
		    hm.tmLogoUrl AS home_tmLogoUrl,
		    aw.tmName AS away_tmName,
		    aw.tmClubName AS away_tmClubName,
		    aw.tmAbbreviation AS away_tmAbbreviation,
		    aw.tmLogoUrl AS away_tmLogoUrl
		   FROM game g
		LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
		LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
		LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
		where 1=1
		
</select>

<insert id="insertInningScore" parameterType="com.angels.module.game.GameDto">
		INSERT INTO gameInning (
		
		giSeq,
		giInning,
		giHomeScore,
		giAwayScore,
		giRegTime,
		giModTime,
		game_gmSeq
		
	) VALUES (
	    #{giSeq},
	    #{giInning},
	    #{giHomeScore},
	    #{giAwayScore},
	    #{giRegTime},
	    #{giModTime},
	    #{game_gmSeq}
	)
</insert>


</mapper>