<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.angels.module.game.GameDao">

<resultMap id="resultMapObj" type="com.angels.module.game.GameDto"></resultMap>

<select id="selectList" resultMap="resultMapObj">
		SELECT
			g.gmSeq,
		    g.gmGuid,
		    g.gmSeason,
		    g.gmDate,
		    g.gmOfDate,
		    g.gmState,
		    g.gmDeState,
		    g.gmStatusCode,
		    g.gmDayNight,
		    g.gmScInnings,
		    g.gmIsTie,
		    g.gmSeriesDesc,
		    g.gmDoubleheader,
		    g.gmType,
		    g.gmRegTime,
		    g.gmModTime,
		    g.venue_stSeq,
		    g.homeTeam_tmSeq,
		    g.awayTeam_tmSeq,
		    v.stName,
		    v.stCity,
		    hm.tmName AS home_tmName,
		    hm.tmClubName AS home_tmClubName,
		    hm.tmAbbreviation AS home_tmAbbreviation,
		    hm.tmLogoUrl AS home_tmLogoUrl,
		    aw.tmName AS away_tmName,
		    aw.tmClubName AS away_tmClubName,
		    aw.tmAbbreviation AS away_tmAbbreviation,
		    aw.tmLogoUrl AS away_tmLogoUrl
		   FROM game g
		LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
		LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
		LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
		where 1=1
		limit #{rowNumToShow} offset #{startRnumForMysql}	
		
</select>

	<select id="selectOneCount" resultType="Integer">
	
	Select count(*)
		   FROM game g
		LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
		LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
		LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
		where 1=1
	
	</select>
	
	<insert id="insert" parameterType="com.angels.module.game.GameDto">
		INSERT INTO game (
	    gmSeq,
	    gmGuid,
	    gmSeason,
	    gmDate,
	    gmOfDate,
	    gmState,
	    gmDeState,
	    gmStatusCode,
	    gmDayNight,
	    gmScInnings,
	    gmIsTie,
	    gmSeriesDesc,
	    gmDoubleheader,
	    gmType,
	    gmRegTime,
	    gmModTime,
	    venue_stSeq,
	    homeTeam_tmSeq,
	    awayTeam_tmSeq
	) VALUES (
	    #{gmSeq},
	    #{gmGuid},
	    #{gmSeason},
	    #{gmDate},
	    #{gmOfDate},
	    #{gmState},
	    #{gmDeState},
	    #{gmStatusCode},
	    #{gmDayNight},
	    #{gmScInnings},
	    #{gmIsTie},
	    #{gmSeriesDesc},
	    #{gmDoubleheader},
	    #{gmType},
	    #{gmRegTime},
	    #{gmModTime},
	    #{venue_stSeq},       
	    #{homeTeam_tmSeq},
	    #{awayTeam_tmSeq}
	)

	</insert>
	
<select id="selectHofList" resultMap="resultMapObj">
		SELECT
			g.gmSeq,
		    g.gmGuid,
		    g.gmSeason,
		    g.gmDate,
		    g.gmOfDate,
		    g.gmState,
		    g.gmDeState,
		    g.gmStatusCode,
		    g.gmDayNight,
		    g.gmScInnings,
		    g.gmIsTie,
		    g.gmSeriesDesc,
		    g.gmDoubleheader,
		    g.gmType,
		    g.gmRegTime,
		    g.gmModTime,
		    g.venue_stSeq,
		    g.homeTeam_tmSeq,
		    g.awayTeam_tmSeq,
		    v.stName,
		    v.stCity,
		    hm.tmName AS home_tmName,
		    hm.tmClubName AS home_tmClubName,
		    hm.tmAbbreviation AS home_tmAbbreviation,
		    hm.tmLogoUrl AS home_tmLogoUrl,
		    aw.tmName AS away_tmName,
		    aw.tmClubName AS away_tmClubName,
		    aw.tmAbbreviation AS away_tmAbbreviation,
		    aw.tmLogoUrl AS away_tmLogoUrl
		   FROM game g
		LEFT JOIN team hm ON g.homeTeam_tmSeq = hm.tmSeq
		LEFT JOIN team aw ON g.awayTeam_tmSeq = aw.tmSeq
		LEFT JOIN venue v ON g.venue_stSeq = v.stSeq
		where DATE(g.gmDate) = #{gmDate}
		ORDER BY g.gmOfDate DESC
		
</select>

<insert id="insertLineScore" parameterType="com.angels.module.game.GameDto">
		INSERT INTO gamelinescore (
		
		lsInning,
		lsHomeScore,
		lsAwayScore,
		lsRegTime,
		lsModTime,
		game_gmSeq
		
	) VALUES (
	    #{lsInning},
	    #{lsHomeScore},
	    #{lsAwayScore},
	    #{lsRegTime},
	    #{lsModTime},
	    #{game_gmSeq}
	)
</insert>


</mapper>