<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.angels.module.team.TeamDao">

<resultMap id="resultMapObj" type="com.angels.module.team.TeamDto"></resultMap>

		<sql id="selectCommon">
			FROM
		    team
		WHERE
		    1=1
		    
		<if test="shUseNy != null and !shUseNy.equals('')">AND tmActive = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND tmDelNy = #{shDelNy}</if>
 				
			<choose>
				<when test="shOptionDate == 1">AND tmRegTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND tmModTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
				
        <choose>
            <when test="shOption == 1">AND tmSeq = #{shValue}</when>
            <when test="shOption == 2">AND tmHomeName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND tmName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 4">AND tmHomeNameKor LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND tmNameKor LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 6">AND tmNameAb LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
        
			<if test="shLeagueOption != null and !shLeagueOption.equals('')">AND tmLeague =#{shLeagueOption}</if>
			<if test="shDivOption != null and !shDivOption.equals('')">AND tmDiv =#{shDivOption}</if>       

	</sql>

  	<select id="selectList" resultMap="resultMapObj">
	SELECT
		tmSeq,
		tmName,
		tmClubName,
		tmAbbreviation,
		tmLocation,
		tmCode,
		tmFileCode,
		tmStPlay,
		tmActive,
		tmDelNy,
		tmLogoUrl,
		tmRegTime,
		tmModTime  
<include refid="selectCommon"></include>
	order by tmSeq desc
	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="league" resultMap="resultMapObj">
	select
		cdName,
	    cdSeq
	from
		code
	where 1=1
		and codeGroup_cgSeq=3
	order by cdSeq desc
	
	</select>
	
	<select id="division" resultMap="resultMapObj">
	select
		cdName,
	    cdSeq
		from
			code
		where 1=1
			and codeGroup_cgSeq=4
		order by cdSeq desc
	</select>
	
	<insert id="insert" parameterType="com.angels.module.team.TeamDto">
	INSERT INTO team (
		tmSeq,
		tmName,
		tmClubName,
		tmAbbreviation,
		tmLocation,
		tmCode,
		tmFileCode,
		tmStPlay,
		tmActive,
		tmDelNy,
		tmLogoUrl,
		tmRegTime,
		tmModTime
	) values (
		#{tmSeq},
		#{tmName},
		#{tmClubName},
		#{tmAbbreviation},
		#{tmLocation},
		#{tmCode},
		#{tmFileCode},
		#{tmStPlay},
		1,
		0,
		#{tmDelNy},
		#{tmLogoUrl},
		#{tmRegTime},
		#{tmModTime}

	)
		<selectKey resultType= "String" keyProperty="tmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>


	<select id="selectOneCount" resultType="Integer">
	
	Select count(*)
<include refid="selectCommon"></include>
	
	</select>
	
	  <select id="selectOne" resultMap="resultMapObj">
   		SELECT	
		tmSeq,
		tmUse,
		tmDelNy,
		tmHomeName,
	    tmName,
	    tmNameAb,
	    tmHomeNameKor,
	    tmNameKor,
	    tmLogo,
	    tmLeague,
	    tmDiv,
	    tmRegTime,
	    tmModTime 
		    from
		    	team
		    	where 1=1
		    AND tmSeq = #{tmSeq}
   </select>
	
		<update id="update">
	update team set
		tmUse = #{tmUse},
		tmHomeName = #{tmHomeName},
		tmName = #{tmName},
		tmNameAb = #{tmNameAb},
		tmHomeNameKor = #{tmHomeNameKor},
		tmLeague = #{tmLeague},
		tmDiv = #{tmDiv},
		tmModTime = now()
	where
		tmSeq = #{tmSeq}
	
	</update>
	
	<delete id="uelete">
	Update team set
		tmDelNy = 1
	where tmSeq = #{tmSeq}
	</delete>
	
	<delete id="delete">
	delete from team
	where tmSeq = #{tmSeq}
	</delete>
	
	
</mapper>