<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="~{hof/include/hofHead :: head(activeMenu='team')}"></div>


		<!-- Search Panel / End -->

		<!-- Page Heading
		================================================== -->
		<input type="hidden" name="tmSeq" value="1"/>
		<div class="page-heading page-heading--horizontal page-heading--title-highlight">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-6">
						<div class="page-heading__inner page-heading__inner--highlight">
							<h1 class="page-heading__title">팀 메인</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
		
		
		<!-- Content
		================================================== -->
		<div class="site-content">
			<div class="container">
				<!-- Tickets Design #2 -->
				<div class="card card--clean">
					<div class="card__header">
						<h4>NL EAST</h4>
					</div>
					<div class="card__content">
						<div class="row">
							<!-- 2행 5열 구조 -->
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img th:src="${team.tmLogoUrl}" class="alc-ticket__header-logo-img" alt="TeamLogo">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card__header">
						<h4>NL CENTRAL</h4>
					</div>
					<div class="card__content">
						<div class="row">
							<!-- 2행 5열 구조 -->
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card__header">
						<h4>NL WEST</h4>
					</div>
					<div class="card__content">
						<div class="row">
							<!-- 2행 5열 구조 -->
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card__header">
						<h4>AL EAST</h4>
					</div>
					<div class="card__content">
						<div class="row">
							<!-- 2행 5열 구조 -->
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card__header">
						<h4>AL CENTRAL</h4>
					</div>
					<div class="card__content">
						<div class="row">
							<!-- 2행 5열 구조 -->
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card__header">
						<h4>AL WEST</h4>
					</div>
					<div class="card__content">
						<div class="row">
							<!-- 2행 5열 구조 -->
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-2" style="flex: 0 0 20%; max-width: 20%;">
								<!-- Ticket 반복 10개 생성 -->
								<div class="alc-ticket alc-ticket--2 alc-ticket--shape-square mb-20">
									<div class="alc-ticket__primary-content">
										<div class="alc-ticket__header">
											<div class="alc-ticket__header-logo">
												<img src="assets/images/hockey/samples/logos/league-logo.png" class="alc-ticket__header-logo-img" alt="">
												<!-- 밑에 코드 팀 별로 색깔 바꿔야 함 -->
												<div class="alc-ticket__header-bg effect-duotone effect-duotone--warning"></div>
											</div>
											<hgroup class="alc-ticket__header-hgroup">
												<h3 class="alc-ticket__header-title">삼성 라이온즈</h3>
											</hgroup>
										</div>
										<div class="alc-ticket__cta">
											<a href="_hockey_team-overview.html" class="alc-ticket__cta-link btn btn-primary">더 보기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Tickets Design #2 / End -->
		</div>

		<div th:replace="~{hof/include/hofFooter :: footer}"></div>	


	<!-- Javascript Files
	================================================== -->
	<!-- Core JS -->
	<script src="/hof/template/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/hof/template/assets/vendor/jquery/jquery-migrate.min.js"></script>
	<script src="/hof/template/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/hof/template/assets/vendor/swiper/js/swiper-bundle.min.js"></script>
	<script src="/hof/template/assets/js/core.js"></script>
	
	<!-- Vendor JS -->
	
	<!-- Template JS -->
	<script src="/hof/template/assets/js/init.js"></script>
	<script src="/hof/template/assets/js/custom.js"></script>

</body>
</html>
