<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{xdm/include/head :: head}"></div>
<div th:replace="~{xdm/codegroup/CodeGroupXdmVo :: vo}"></div>


        <!--end::Sidebar Wrapper-->
      </aside>
      <!--end::Sidebar-->
      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">CodeGroup</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Code</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!-- Timelime example  -->
            <div class="row">
              <div class="col-12">
                <!-- The icons -->
                <div class="col-12">
                  <div class="card card-primary card-outline">
                    <div class="card-header"><h3 class="card-title">기본정보</h3></div>
                      <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-3">
						<form action="/codegroup/CodeGroupXdmInst" method="post" enctype="multipart/form-data" id="form">								
							<label class="form-label">코드그룹 코드<span class="text-danger"> *</span></label>
							<input type="hidden" id="cgSeq" name="cgSeq" th:value="${item?.cgSeq}" maxlength="20" placeholder="자동생성" disabled class="form-control"/>
							<input type="text" name="cgSeq" id="cgSeq" th:value="${item?.cgSeq}" class="form-control" placeholder="자동생성" readonly style="background-color: grey;">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">코드그룹 코드(ANOTHER)<span class="text-danger"></span></label>
                                <input type="text" class="form-control" placeholder="영대소문자, 숫자" >
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">코드그룹 이름<span class="text-danger"> *</span></label>
                                <input type="text" name="cgName" id="cgName" th:value="${item?.cgName}" class="form-control" placeholder="영대소문자, 숫자">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">코드그룹 이름(영문)<span class="text-danger"></span></label>
                                <input type="text" name="cgNameEng" id="cgNameEng" th:value="${item?.cgNameEng}" class="form-control" placeholder="영대소문자, 숫자">
                            </div>
                          </div>
                          
                        
                        <div class="row g-3 mt-1">
                          <div class="col-md-3">
                            <label class="form-label">사용여부 <span class="text-danger"> *</span></label>
                            <select class="form-select"  name="cgUse" id="cgUse" th:value="${item?.cgUse}">
                              <option selected value="1">사용</option>
							  <option value="0">미사용</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label class="form-label">순서<span class="text-danger"> *</span></label>
                            <input type="text" name="cgOrder" id="cgOrder" th:value="${item?.cgOrder}" class="form-control" placeholder="">
                          </div>
                        </div>
                        <div class="row g-3 mt-1">
                          <div class="col-md-6">
                            <label class="form-label">설명</label>
                            <textarea class="form-control" rows="3" style="resize: both;"></textarea>
                        </div>
                      </div>
                      
					  <div class="mt-3 d-flex">
					      <button type="button" class="btn btn-light" onclick="window.location.href='CodeGroupXdmList';">
					          <i class="fa-solid fa-list"></i>
					      </button>

					      <div class="ms-auto d-flex gap-1">
					          <button type="button" id="btnDelete" class="btn btn-danger"><i class="fa fa-times"></i></button>
					          <button type="button" id="btnUelete" class="btn btn-danger"><i class="fa fa-trash"></i></button>
					          <button type="button" id="btnSave" class="btn btn-primary">
					              <i class="fa-solid fa-database"></i>
					          </button>
					      </div>
					  </div>
					  </form>
					 </div>
                    </div>
              <!-- /.col -->
                  </div>
            <!-- /.row -->
              </div>
          <!--end::Container-->
	        </div>
	       </div>
	      </div>
<!--		<div id="myModal" class="modal" tabindex="-1">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">경고!</h5>
		        <button id="btnClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <p>잘 입력해주세요</p>
		      </div>
		      <div class="modal-footer">
		        <button id="btnConfirm" type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
		      </div>
		    </div>
		  </div>
		</div>-->	
        <!--end::App Content-->
      </main>
      <!--end::App Main-->
		<div th:replace="~{xdm/include/modal :: modal}"></div>
      <!--begin::Footer-->
	  <script
	    src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.10.1/browser/overlayscrollbars.browser.es6.min.js"
	    integrity="sha256-dghWARbRe2eLlIJ56wNB+b760ywulqK3DzZYEpsg2fQ="
	    crossorigin="anonymous"
	  ></script>
	  <!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Required Plugin(popperjs for Bootstrap 5)-->
	  <script
	    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	    crossorigin="anonymous"
	  ></script>
	  <!--end::Required Plugin(popperjs for Bootstrap 5)--><!--begin::Required Plugin(Bootstrap 5)-->
	  <script
	    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
	    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
	    crossorigin="anonymous"
	  ></script>
	  <!--end::Required Plugin(Bootstrap 5)--><!--begin::Required Plugin(AdminLTE)-->
	  <script src="../../../dist/js/adminlte.js"></script>
	  <!--end::Required Plugin(AdminLTE)--><!--begin::OverlayScrollbars Configure-->
	  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	  <script>
	    const SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper';
	    const Default = {
	      scrollbarTheme: 'os-theme-light',
	      scrollbarAutoHide: 'leave',
	      scrollbarClickScroll: true,
	    };
	    document.addEventListener('DOMContentLoaded', function () {
	      const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
	      if (sidebarWrapper && typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== 'undefined') {
	        OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
	          scrollbars: {
	            theme: Default.scrollbarTheme,
	            autoHide: Default.scrollbarAutoHide,
	            clickScroll: Default.scrollbarClickScroll,
	          },
	        });
	      }
	    });
	  </script>
      <script type="text/javascript">
		
		let cgSeq = document.querySelector("input[name=cgSeq]");
		let CodeGroupXdmInst = "/codegroup/CodeGroupXdmInst";
		let CodeGroupXdmUpdt = "/codegroup/CodeGroupXdmUpdt";		
		
		document.getElementById("btnSave").onclick = function () {
			if(cgSeq.value == "0" || cgSeq.value == "") {
				form.action = CodeGroupXdmInst;
				form.submit();
			} else {
				form.action = CodeGroupXdmUpdt;
				form.submit();
			}
		}

      </script>
	  
	 <script>
	let form = document.getElementById("form");
	let CodeGroupXdmUele = "/codegroup/CodeGroupXdmUele"
	let CodeGroupXdmDele = "/codegroup/CodeGroupXdmDele"	
		
	  if(document.getElementById("btnUelete")){
	  	document.getElementById("btnUelete").onclick = function () {
	  		document.querySelector("#modalConfirmTitle").textContent = "경고";
	  		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
	  		document.querySelector("#btnModalUelete").style.display = '';
	  		document.querySelector("#btnModalDelete").style.display = 'none';
	  		$("#modalConfirm").modal("show");	     	
	  	}
	  }


	  document.getElementById("btnModalUelete").onclick = function () {
	  	form.action = CodeGroupXdmUele;
	  	form.submit();
	  }
	  </script>
	   <script>
	  	
	    if(document.getElementById("btnDelete")){
	    	document.getElementById("btnDelete").onclick = function () {
	    		document.querySelector("#modalConfirmTitle").textContent = "경고";
	    		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
	    		document.querySelector("#btnModalUelete").style.display = 'none';
	    		document.querySelector("#btnModalDelete").style.display = '';
	    		$("#modalConfirm").modal("show");	     	
	    	}
	    }


	    document.getElementById("btnModalDelete").onclick = function () {
	    	form.action = CodeGroupXdmDele;
	    	form.submit();
	    }
	    </script>
	  
	  <div th:replace="~{xdm/include/footer :: footer}"></div>
	  
</html>
